<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Частые вопросы</p>
</div>

<div class="container_boxes">
  <div class="horizontal_div" style="width: 100%; float: none;">
    <div class="box_blue" id="" style="min-height:245px;width:880px;padding: 25px; background-color: #e8eef2; font-size: 0.9em;">
      <p class="p3">Что такое АйЖКХ?</p>
      <p class="p4">АйЖКХ – это  электронный коммуникационно-финансовый сервис, с помощью которого Вы можете без напряжения оплачивать услуги, связанные с обслуживанием объектов недвижимости и жизнедеятельностью,  через мобильный телефон или веб-сайт, а также вести учет этих затрат.</p>
      <p class="p4"><br></p>
      <p class="p3">В чем удобство использования сервиса АйЖКХ?</p>
      <p class="p4">В первую очередь, в минимальной зависимости от бумаг – квитанций, договоров, чеков, расчетных книжек и проч.  Наш сервис позволяет получать  всю необходимую информацию в электронном виде на любое устройство, подключенное к Интернету. Это экономит Ваше время и нервы от походов в ТСЖ, офисы поставщиков, поиск договоров, хранение квитанций и расчетных книжек. </p>
      <p class="p4">Веб- сервис АйЖКХ позволяет оплачивать счета безналичными средствами, не тратя времени на походы в кассу, поиск банкомата или терминала. Сервис работает 24 часа в сутки, 7 дней в неделю, 365 дней в году. Это дает вам независимость и свободу действий.</p>
      <p class="p4">Вы сможете без труда узнать, сколько денег Вы ежегодно тратите на обслуживание своей квартиры, загородного дома, гаража, дачи без утомительного сбора и пересчета квитанций и чеков. Также Вы сможете узнать, во сколько вам обходятся услуги того или иного поставщика по всей вашей недвижимости.  Такая информация позволяет более точно оценить стоимость содержания (и соответственно рыночную стоимость) вашей недвижимости, а также получать индивидуальные скидки. </p>
      <p class="p4">Наш сервис также включает раздел справочной информации, где Вы быстро найдете актуальные контакты всех поставщиков услуг, которым Вы платите, сможете сделать им прямой звонок, узнать их часы приема, и другую полезную информацию, которая поможет вам более эффективно решить вопрос.</p>
      <p class="p4">Кроме того, мы предоставляем информацию о дополнительных частных услугах, связанных с ремонтом и содержанием жилья – это всевозможные сервисные организации и частные лица, оказывающие спектр услуг, необходимых в быту. В следующих версиях будет доступна функция отзывов о работе мастеров, что позволит принимать более взвешенное решение. </p>
      <p class="p7"><br></p>
      <p class="p3">Что можно оплачивать с помощью АйЖКХ?</p>
      <p class="p4">Любые коммунальные услуги, а также иные регулярные платежи, связанные с обслуживанием вашего движимого и недвижимого имущества – вода, газ, тепло, Интернет, телефон, охрана, домофон и т.д. Список поставщиков постоянно растет, их спектр расширяется.<!--  С перечнем поставщиков Вы можете ознакомиться на сайте <a href="http://www.izkh.ru">http://www.izkh.ru</a> в разделе «Информация». --></p>
      <p class="p4"><br></p>
      <p class="p3">Чем можно оплатить?</p>
      <p class="p4">Оплатить можно действующей банковской картой Visa и MasterCard (включая электронные не эмбоссированные карты), независимо от того, какой банк ее выпустил.</p>
      <p class="p4"><br></p>
      <p class="p3">Каков размер вознаграждения за услуги сервиса ?</p>
      <p class="p4">Размер комиссии сервиса зависит от поставщика и составляет в среднем от 3% до 5 %.  Сумму комиссии Вы увидите в момент формирования счета, до подтверждения оплаты.</p>
      <p class="p4"><br></p>
<!--       <p class="p3">Как оплачивать?  (в ответе место под два ролика: как оплатить на сайте; как оплатить с телефона?)</p> -->
      <p class="p3">В течении какого времени доходят средства?</p>
      <p class="p4">Как правило, на следующий рабочий день. </p>
      <p class="p4"><br></p>
      <p class="p3">Какие подтверждения останутся после проведения транзакции?</p>
      <p class="p4">На экране Вы сразу увидите отчет о совершении транзакции с Вашей карты от платежного агента PayOnline. Кроме того, на электронный адрес, указанный при регистрации, приходит более развернутое подтверждение о совершенном платеже. В нем указываются все параметры платежа.</p>
      <p class="p4"><br></p>
      <p class="p3">Насколько безопасны платежи через АйЖКХ?</p>
      <p class="p4">Персональная информация используется исключительно в целях обеспечения услуг, предоставляемых Компанией;</p>
      <p class="p4">мы не передаем информацию личного характера третьим лицам за исключением тех случаев, когда это установлено Законодательством или иными правовыми нормами;</p>
      <p class="p4">Безопасность передаваемой информации обеспечивается с помощью современных протоколов обеспечения безопасности в Интернет SSL/TLS.</p>
      <p class="p4">Коммуникационно-финансовый сервис АйЖКХ не хранит ваши личные данные.  </p>
      <p class="p9"><br></p>
      <p class="p3"> Как начать пользоваться?</p>
      <p class="p4">Скачать БЕСПЛАТНОЕ приложение АйЖКХ в AppStore или зайти на нашу страницу в Интернете <a href="http://www.izkh.ru">http://www.izkh.ru</a> и зарегистрироваться. Далее ввести объекты недвижимости и  выбрать услуги, за которые Вы хотите платить. Затем  в разделе «Счета» вводите текущие показания счетчика либо свободный платеж (любая сумма, которую Вы хотите оплатить), и следуете указаниям пошаговой инструкции. В среднем, оплата счета проводится в «три клика».</p>
      <p class="p4"><br></p>
      <p class="p3">Что делать, если я ошибся? </p>
      <p class="p4">В нашем сервисе ошибиться можно либо в номере лицевого счета, либо в сумме платежа, либо в реквизитах вашей карты. Если Вы ошиблись в реквизитах карты, то платеж не уйдет, пока ваш банк не авторизует карту. Если Вы ошиблись в номере лицевого счета либо хотите вернуть излишне зачисленные деньги, то необходимо обратиться к поставщику. </p>
      <p class="p4">В любом случае, можно позвонить на нашу линию техподдержки  (846) 373-64-10, 373 64-11, и мы обязательно постараемся Вам помочь.</p>
      <p class="p4"><br></p>
      <p class="p4"><br></p>
      <p class="p4"><br></p>
    </div>
  </div>
</div>