<div id="adv">
	<div class="adv_item"><img src="asseta/banner_1.gif" alt=""></div>
	<div class="adv_item"><img src="asseta/banner_7.jpg" alt=""></div>
	<div class="adv_item"><img src="asseta/banner_3.png" alt=""></div>
	<div class="adv_item"><img src="asseta/banner_5.jpeg" alt=""></div>
</div>