<div id="footer">

		<% if params[:controller] == 'web_interface/title_page' %>
			<%= render 'layouts/title_page/partners' %>
		<% end %>
	
		<div id="social_links">
<!-- 			<a href="#" class="social_link">Facebook</a>
			<a href="#" class="social_link">VK</a>
			<a href="#" class="social_link">Twitter</a> -->
			<div class="social_buttons">
			<a style="display: inline-block;height: 45px;width: 48px; background-position: 0px -54px;" href="https://vk.com/izkh_official"></a>
			<a style="display: inline-block;height: 45px;width: 50px; background-position: 109px -54px;" href="https://www.facebook.com/pages/%D0%9E%D0%9E%D0%9E-%D0%90%D0%B9%D0%96%D0%9A%D0%A5/730802226933352"></a>
			<a style="display: inline-block;height: 45px;width: 49px; background-position: 49px -54px;" href="https://twitter.com/izkh_official"></a>
		</div>
		
		<style>	

			div.social_buttons > a
			{
				background: url(/assets/social.png);
			}
			div.social_buttons > a:hover
			{
				background-position-y: 0px !important;
			}
		</style>

		</div>

		<div id="services_links">
			<a href="https://itunes.apple.com/ru/app/servis-ajzkh/id649860222?mt=8" class="service_link" title="Apple AppStore"><img src="/assets/footer_appstore.png" alt=""></a>
			<a style="opacity: 0.4; cursor: default;" onclick="return: false;" href="#" class="service_link" title="Google Play"><img src="/assets/footer_googleplay.png" alt=""></a>
			<!-- <a href="http://izkh.ru" class="service_link" title="Web-Service"><img src="/assets/footer_webservice.png" alt=""></a> -->
		</div>

<div style="text-align: right;margin: 10px 0px;padding-bottom: 15px;font-size: 13px;color: grey;">
	<p>Оплата услуг осуществляется через сервис АйЖКХ.</p>
	<p>Безопасность операций соответствует требованиям международного стандарта PCI DSS. </p>
	<p>Услугу по переводу денежных средств оказывает ОАО АКБ "Банк Москвы", лицензия Банка России №2748.</p>
	<p>ОАО "Банк Москвы", ОГРН 1027700159497, 107996, Москва, ул. Рождественка, д. 8/15, стр. 3</p>
	<p>ООО "АйЖКХ", ОГРН 1126316010490, 443090, г. Самара, ул Советской Армии, д 180, стр 1, цокольный этаж.</p>
</div>

</div><!-- .footer -->