	<div class="header">
		<a href="<%= title_ad_on_site_path %>"><img src="/assets/960x60.png" alt="" /></a>
		<!-- <img src="/assets/960x90_2.jpg" alt="" /> -->
		<!-- <img src="/assets/960x90_3.jpg" alt="" /> -->
	</div><!-- .header-->