	<div class="header">

		<!-- <a href="<%= title_ad_on_site_path %>"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-756897861289/izkh/assets/960x60-3.png" alt="" /></a> -->

		<a href="<%= new_freelance_interface_freelancer_path %>">
			<img src="/assets/banners/top960.png" alt="Регистрация объявления частной услушги" />
		</a> 
		
		<!-- <img src="/assets/960x90_3.jpg" alt="" /> -->
	</div><!-- .header-->
