	<div class="white_cubs">
		<div class="white_cubs_carousel">
		    <ul>
				<li><div class="white_cub white_cub_1"> <a href="http://www.jtcom.ru/"> <img src="/assets/partners/logo_jt.png" /> </a> </div></li>
				<li><div class="white_cub white_cub_2"> <a href="http://www.bm.ru/"> <img src="/assets/partners/logo_bm.png" /> </a> </div></li>
				<li><div class="white_cub white_cub_5"> <a href="http://www.cyfral-group.ru"> <img src="/assets/partners/logo_cyfral.gif" /> </a> </div></li>
				<li><div class="white_cub white_cub_8"> <a href="http://www.sbytenergo.ru/"> <img src="/assets/partners/logo_se.gif" /> </a> </div></li>
				<li><div class="white_cub white_cub_6"> <a href="http://www.zaopts.com/"> <img src="/assets/partners/logo_pts.jpg" /> </a> </div></li>
				<li><div class="white_cub white_cub_3"> <a href="http://www.payonline.ru/"> <img src="/assets/partners/logo_payonline.png" /> </a> </div></li>
				<li><div class="white_cub white_cub_4"> <a href="http://www.delta.ru/"> <img src="/assets/partners/logo_delta.png" /> </a> </div></li>
				<li><div class="white_cub white_cub_6"> <a href="http://www.gibdd.ru/"> <img src="/assets/partners/logo_mvd.png" /> </a> </div></li>
				<li><div class="white_cub white_cub_7"> <a href="http://xn----7sbb3armfhpk6czfe.xn--p1ai/" > <img src="/assets/partners/TBO.jpg" /> </a> </div></li>
		    </ul>
		</div>
	</div>


<script>
	$( document ).ready(function() {
	    $(".white_cubs_carousel").jCarouselLite({
	        btnNext: ".next",
	        btnPrev: ".prev",
	        auto: 6000,
	        speed: 1000,
	        visible: 4,
	        scroll: 2
	    });
	});
	</script>