<div id="wrap"><div id="main" class="clearfix"></div></div>
<div class="footer">
	<div class="mini_logo"></div>
	<div class="footer_text">
		<p>Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	</div>
	<div class="white_line"></div>
	<%= link_to "", "app_download", class: "app_download" %>
</div>