<div class="data_box_top">
	<p>Введите начальные показания счетчика</p>
</div>
	<div class="price_pay" style="height: 160px;">
		<% @field_templates.each do |field_template|%>
			<label for=""><p style="top: 38px;"><%= field_template.title %></p><input type="text" id="service_reading" name="service[reading]" class="tariff_input_reading"></label>
				<% end %>
			</div>