			
			<div class="data_box_top">
			<p>
				Ввод показаний счётчика
			</p>
			</div>
 			<div class="price_pay" style="height: 160px;">
				<p>Данный функционал будет доступен в ближайшее время.</p>
				<p>Приносим извинения за неудобства.</p>
			</div>

<!-- 			
-->
			