			
			<div class="data_box_top">
			<p>
				Ввод показаний счётчика
			</p>
			</div>
			<!--div class="tarif_selected_pay">
				<p>Прошлые показания</p> 
			</div-->
			<div class="price_pay" style="height: 160px;">
				<% @fields.each do |field|%>
					<label for=""><p style="top: 38px;"><%= field.title %></p><input type="text" id="meter_reading_reading" name="meter_reading[reading]" class="tariff_input_reading"></label>
				<% end %>
			</div>
			<div class="pay_ended">
				<%= button_to "Сохранить показания", "/save_meter_readings", remote: true, method: :post, class: "tariff_button", style: "width: 200px;" %>
			</div>