			
			<div class="data_box_top">
			<p>
				Ввод показаний счётчика
			</p>
			</div>
			<div class="tarif_selected_pay">
				<p>Прошлые показания</p> 
			</div>
			<div class="price_pay" style="height: 160px;">

	<label for=""><p style="top: 38px;">Холодная вода</p><input type="text" class="tariff_input_reading"></label>
	<label for=""><p style="top: 38px;">Горячая вода</p><input type="text" class="tariff_input_reading"></label>

			</div>
			<div class="tarif_input_pay">
				<p>Параметр тарифа если есть</p>
			</div>
			<div class="pay_ended">
					<input class="tariff_button" name="" type="submit" value="Сохранить показания" style="width: 200px;">
			</div>