<% if @services != [] and  @places != [] %>
	<% @services.each do |service| %>
		<%= link_to "/get_payment_data/#{service.id}", remote: true, onclick: "servicePayClick(this);", method: :post, class: "service_pay" do %>
			<p class="place_title"><%= service.title %></p>
			<p class="place_sub_title"><%= service.tariff.title %></p>
		<% end %>
	<% end %>
<% else %>
	<p>Для данного места услуги не добавлены.</p>
<% end %>