<% if @services != [] and  @places != [] %>
	<% @services.each do |service| %>
		<%= link_to service.title, "/get_payment_data/#{service.id}", remote: true, onclick: "servicePayClick(this);", method: :post, class: "service_pay" %>
	<% end %>
<% else %>
	<p>Для данного места услуги не добавлены.</p>
<% end %>