<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Оплата в один клик</p>
</div>

<div class="container_boxes">
	<div class="horizontal_div" style="width: 100%; float: none;">
		<div class="box_blue" id="" style="min-height:245px;width:100%">
			
		<p class="p4" style="
    padding: 32px;
">После оплаты какой-либо услуги новой картой у Вас есть возможность воспользоваться услугой оплаты "В один клик" от нашего партнёра PayOnline. При этом процесс оплаты просходит без заполнения платёжной формы - достаточно создать счёт или ввести произвольную сумму и выбрать карту из списка добавленных. Напоминаем, что мы не храним данных о вашей карте. Все данные находятся на стороне нашего партнёра PayOnline</p>

	 	</div>
	</div>
</div>
