<!--div id="wrap"><div id="main" class="clearfix"></div></div-->
<div class="footer">
	<div class="white_line"></div>
	<div class="footer_container">
		<div class="mini_logo"></div>
		<div class="footer_text">
			<p>Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
		</div>
		<% if params[:controller] == "web_interface/main" %>
			<img style="position: absolute;left: 270px;top: 15px;" src="/images/mastercard.png">
			<img style="-webkit-user-select: none;position: absolute;left: 330px;top: 15px;" src="/images/visa.png">
		<% end %>
		<%= link_to "", "app_download", class: "app_download" %>
	</div>
</div>