$("ul.profile_places").prepend('<%= link_to "/get_place/#{@place.id}", remote: true, method: :post, class: "object", id: "#{@place.id}" do %><li><p class="place_title"><%=@place.title%></p><p class="place_sub_title"><%= "#{@place.city}, #{@place.street}, #{@place.building}, #{@place.apartment}" %></li><% end %>');
$('.place_clear').val('');
$('#slideUpBox').fadeIn();  
$('#slideDownBox').hide();
popUpRender('<%= @message %>');