<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Скачать мобильное приложение</p>
</div>
<div class="container_boxes_app">
	<div class="horizontal_div">
		<div class="box_left box_blue">
			<div class="box_top_right ">
				<p>Мобильное приложение для айфон</p>
			</div>
			<div class="download_text">
				<p>Приложение позволяет оплачивать услуги, где бы вы не находились. Скачайте и пользуйтесь с удовольствием!</p>
			</div>
			<div class="icon_iphone_container">
				<div class="iphone_logo"></div>
				<a href="https://itunes.apple.com/ru/app/servis-ajzkh/id649860222?mt=8"><p class="download">Скачайте <b>АйЖКХ</b> для iPhone</p>
				<p class="appstore">App Store</p></a>
			</div>
		</div>
		<div class="box_right box_blue">
		<div class="box_top_right">
			<p>Мы развиваемся</p>
		</div>
		<div class="Android">
			<p>В скором времени будет доступно приложение для мобильных устройcтв под управлением ОС Android</p>
		</div>
		</div>
	</div>
</div>