	<div class="top_plate">
		<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
		<p class="text_plate_blue">Результаты опроса</p>
	</div>
	
	<div class="container_boxes">
	  <div class="horizontal_div" style="width: 100%; float: none;">
	    <div class="box_blue" id="" style="min-height:245px;width:880px;padding: 25px; background-color: #e8eef2; font-size: 0.9em;">
	
		<% @quiz_result.each do |q_r| %>
			<p style="font-weight:bold;"><%= q_r[:quiz_question]["body"] %></p>
				<% q_r[:quiz_question][:quiz_answer].each do |q_a| %>
					<p><span><%= q_a[:quiz_result][:count] %> </span> - <%= q_a["body"] %></p>
				<% end %>   

				<% q_r[:quiz_question][:quiz_answer].each do |q_a| %>
					<% if q_a[:custom_answers] %>
						<% q_a[:custom_answers].each do |c_a|%>
							<br>
							<p style="font-style:italic;">Другие ответы:</p>
							<p>- <%= c_a["custom_answer"] %></p>
						<% end %>
					<% end %>
				<% end %>   <hr> <br>
		<% end %>

	    </div>
	  </div>
	</div>