html,body{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-image: url(../images/background.jpg);
	background-position: 50% 0%;
	/*overflow-y: scroll; */
}
#wrap {height: 100%}
body > #wrap {height: auto; min-height: 100%;}
#main { padding-bottom: 97px; }
.container{
	position: relative;
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

/*----------------------------	MENU   ----------------------------*/



.prof_name{
	position: relative;
	width: 100%;
	height: 42px;
}
.menu{
	position: relative;
	width: 100%;
	height: 54px;
	background-color: #d1dde4;
	border-bottom: 1px solid #0071bc;
}
.menu_logo_top{
	position: absolute;
	left: 15px;
	width: 128px;
	height: 132px;
	background-image: url(../images/logo-round.png);
	z-index: 10;
	background-position: 0px 3px;
	background-repeat: no-repeat;
}
.menu .menulist{
	position: relative;
	left:165px;
}
.menu .menulist .menulistLi{
	position: relative;
	float: left;
	height: 53px;
	padding: 0px 22px 0px 22px;
	line-height: 3.2;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 0 -1px 0 #F0F0FA;
	cursor: pointer;
}
.menu .menulist .menulistLi:hover{
	height: 50px;
	border-bottom: 4px solid #6a7f8d;
}
.menu .menulist .menulistLi a,p{
	position: relative;
	display: block;
	color:#00558d;
	text-decoration: none;
}
.dropdownMenu{
	position: absolute;
	width: 100%;
	top: 55px;
	float: left;
	z-index: 10;
	left: 0px;
	display: none;
}
.dropdownMenuLi{
	position: relative;
	height: 35px;
	background-color: #d5e6f2;
	margin-top: 1px;
	font-size: 16px;
	line-height: 2.0;
	text-indent: 20px;
	color:#00558d;
	text-shadow: none;
	cursor: pointer;
}
.secondcolorLi{background-color: rgb(189, 212, 228);}
.top_plate{
	position: relative;
	margin: 0 auto;
	width: 930px;
	height: 120px;
	background-color: #e8eef2;
}
.text_plate_gray{
	position: relative;
	font-size: 15px;
	display: block;
	left:165px;
	color:#6a7f8d;
	top: 18px;
}
.text_plate_blue{
	position: relative;
	font-size: 24px;
	display: block;
	left: 165px;
	color: #00558d;
	top: 50px;
	font-weight: 600;
}
.profile_plate{
	position: relative;
	margin: 0 auto;
	width: 930px;
	background-color: #e8eef2;
	border-top: 1px solid #8da9bc;
}
.profile_name_container{
	position: relative;
	width: 100%;
	border-bottom: 1px dotted #8da9bc;
}
.profile_name{
	position: relative;
	color: #47555e;
	left: 165px;
	font-size: 19px;
	display: block;
	border: none;
	background-color: #e8eef2;
	line-height: 3.9;
	width: 700px;
}
.profile_email_container{
	position: relative;
	width: 100%;
	border-bottom: 1px solid #0071bc;
}
.profile_email_phone{
	position: relative;
	color: #47555e;
	left: 165px;
	font-size: 14px;
	display: block;
	border: none;
	background-color: #e8eef2;
	line-height: 1.9;
	width: 700px;
}
#profile_name_edit{
	margin: 20px 0px 20px 0px;
}

.profile_edit{
	position: relative;
	display: block;
	width: 378px;
	height: 34px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	text-indent: 26px;
	left: 165px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 6px 0px 6px 0px;
}
.profile_button_container{
	position: relative;
	width: 100%;
	height: 45px;
	background-color: #d5e6f2;
}
.profile_edit_button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color: #FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 5px;
}
.add_object{
	width: 200px;
	height: 45px;
	background-color: #0071bc;
	text-align: center;
	color: #FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	margin: 5px;
}
.container_boxes{
	position: relative;
	margin: 0 auto;
	width: 930px;
	margin-top: 25px;
}
.container_boxes_app{
	position: relative;
	margin: 0 auto;
	width: 930px;
	margin-top: 25px;
	min-height: 500px;
}
.horizontal_div{
	position: relative;
	width: 930px;
	float: left;
	margin-bottom: 30px;
}
.box_left{float: left;}
.box_right{float: right;}

.box{
	position: relative;
	width: 450px;
	background-color: #e8eef2;
}
.data_box_top{
	position: relative;
	width: 100%;
	height: 45px;
	background-color: #d5e6f2;
	border-bottom: 1px solid #8da9bc;
}
.box_top_right{
	text-align: center;
	position: relative;
	width: 100%;
	height: 45px;
	background-color: #d5e6f2;
	border-bottom: 1px solid #8da9bc;
}
.box_top_right p{
	position: relative;
	display: block;
	top:15px;
	color: #00558d;
	font-size: 15px;
	font-weight: 600;
}
.data_box_top p{
	position: relative;
	display: block;
	left:34px;
	top:15px;
	color: #00558d;
	font-size: 15px;
	font-weight: 600;
}
.name_email{
	position: relative;
	width: 450px;
	height: 172px;
	border-bottom: 1px dotted #8da9bc;
}
.two_pass{
	position: relative;
	width: 450px;
	height: 122px;
	border-bottom: 1px dotted #8da9bc;
}
.reg_input{
	position: relative;
	display: block;
	width: 378px;
	height: 40px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	margin: 10px auto 10px;
	text-indent: 26px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.reg_input_first{margin: 25px auto 10px;}
	.accept_oferta input{
		position: relative;
		display: block;
		width: 378px;
		height: 40px;
		background-color: #e8eef2;
		border: 1px solid #8da9bc;
		margin: 0px auto 10px;
		text-indent: 26px;
		color:#8da9bc;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
	}
	.accept_oferta{
		height: 60px;
		border-bottom: 1px solid #0071bc;
	}
	.accept_oferta label{
		position: relative;
		display: block;
		margin: 15px 12px 0px 10px;
		width: 13px;
		height: 13px;
		float: left;
	}
	.accept_oferta label input{
		position: absolute;
		left: -1px; top: -2px;
		width: 100%;
		height: 100%;
		float: left;
		opacity: 0;	
	}
	.accept_oferta label span{
		position: absolute;
		left: 0; top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/checkbox_off.png) no-repeat;
		background-color: #e8eef2;
		float: left;
		cursor: pointer;
		opacity: 1;
	}
	.accept_oferta label input span{
		position: relative;
		border: 1px solid #8da9bc;
		
	}
	.accept_oferta p{
		display: block;
		color: #47555e;
		font-size: 15px;
		margin-top: 14px;
		float: left;
	}
	.accept_oferta a{
		position: relative;
		text-align: center;
		display: block;
		float: left;
		width: 350px;
		height: 34px;
		background-color: #8da9bc;
		border: none;
		text-shadow: 1px 1px 0px #FFF;
		color:#6a7f8d;
		font-size: 18px;
		font-weight: 600;
		padding-top: 9px;
		cursor: pointer;
		text-decoration: none;
		
	}
	.reg_disable{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
.accept_data{
	position: relative;
	width: 450px;
	height: 50px;
}
.accept_data_pay{
	position: relative;
	width: 450px;
	height: 50px;
}
.accept_data_button_pay{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color:#FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.accept_data_button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	background-color: #8da9bc;
	text-align: center;
	text-shadow: 1px 1px 0px #FFF;
	color: #6a7f8d;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.tarif_selected_pay{
	position: relative;
	width: 450px;
	background-color: #e8eef2;
	border-bottom: 1px dotted #6a7f8d;
	overflow: hidden;
}
.tarif_selected_pay p{
	position: relative;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top:5px;
	margin-bottom: 10px;
	left:30px;
}
.price_pay{
	position: relative;
	width: 450px;
	height: 100px;
	background-color: #e8eef2;
	border-bottom: 1px dotted #6a7f8d;
}
.price_pay p{
	position: relative;
	width: 300px;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top:25px;
	margin-bottom: 10px;
	left:30px;
	float: left;
}
.price{
	position: absolute;
	display: inline-block;
	background-color: #e8eef2;
	border: none;
	color: #00558d;
	font-weight: 600;
	font-size: 27px;
	top: 24px;
	right: 10px;
	width: 70px;
}
.tarif_input_pay{
	position: relative;
	width: 450px;
	height: 60px;
	background-color: #e8eef2;
	border-bottom: 1px solid #0071bc;
}
.tarif_input_pay p{
	position: absolute;
	width: 300px;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top:20px;
	margin-bottom: 10px;
	left:30px;
	float: left;
}
.pay_selected{
	position: relative;
	display: inline-block;
	background-color: #e8eef2;
	border: none;
	color: #47555e;
	font-weight: 600;
	font-size: 14px;
}
.money_input{
	position: absolute;
	display: block;
	top: 18px;
	right: 12px;
	width: 200px;
	height: 20px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	text-indent: 10px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.pay_ended{
	position: relative;
	height: 50px;
	background-color: #d5e6f2;
}
.pay_ended p{
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top: 11px;
	right: -233px;
	margin: 0px 0px 0px 0px;
	float: left;
	padding-right: 10px;
}
.price_for_pay{
	position: absolute;
	display: inline-block;
	background-color: #d5e6f2;
	border: none;
	color: #00558d;
	font-weight: 600;
	font-size: 15px;
	top: 13px;
	right: 10px;
	width: 60px;
}
.visa_mc{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px dotted #6a7f8d;
	background-color: #e8eef2;
}
.visa_mc p{
	position: absolute;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top:15px;
	left:30px;
}
.visa{
	position: absolute;
	width: 50px;
	height: 31px;
	background-image: url(../images/Visa-1.png);
	top: 10px;
	right: 80px;
}
.mc{
	position: absolute;
	width: 50px;
	height: 31px;
	background-image: url(../images/Mastercard-1.png);
	top: 10px;
	right: 25px;
}
.end{
	position: relative;
	height: 50px;
	border-top: 1px solid #0071bc;
}
.end_button, .tariff_button{
	position: absolute;
	width: 260px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color: #FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	left: 15px;
}
.box_blue{
	position: relative;
	width: 450px;
	background-color: #d5e6f2;
}
.info_text{
	min-height: 435px;
}
.info_text p{
	position: relative;
	display: block;
	left:15px;
	color: #47555e;
	font-size: 14px;
}
.info_text_begin{
	margin-top: 20px;
}
.text_bold_info{
	margin-top: 27px;
	font-weight: 600;
}
.step{
	margin-top: 5px;
}
.object_box{
	position: relative;
	width: 450px;
	height: 360px;
	background-color: #d5e6f2;
}
.object_name{
	position: relative;
	width: 450px;
	background-color: #e8eef2;
	border-bottom: 1px dotted #8da9bc;
}
.object_name input{
	position: relative;
	display: block;
	background-color: #e8eef2;
	color:#47555e;
	border: none;
	font-size: 20px;
	font-weight: 600;
	margin-left: 34px;
	line-height: 3.5;
	display: none;
}
.service_name{
	position: relative;
	width: 450px;
	background-color: #e8eef2;
	border-bottom: 1px dotted #8da9bc;
}
.service_name p, .service_name input{
	position: relative;
	color: #47555e;
	left: 34px;
	font-size: 15px;
	display: block;
	border: none;
	background-color: #e8eef2;
	line-height: 2.5;
	width: 400px;
}
.service_name input{font-weight: 600;line-height: 1.5;}
.object_adress{
	position: relative;
	width: 450px;
	border-bottom: 1px solid #0071bc;
}
.object_adress p, .object_adress input{
	position: relative;
	display: block;
	color:#47555e;
	left:34px;
	margin-right: 12px;
	border: none;
	background-color: #d5e6f2;
	line-height: 0.5;
	display: none;
}
.object_adress p{width: 30px;line-height: 2.5;}
.object_adress input{
	color:#0071bc;
	font-size: 21px;
	width: 400px;
	height: 40px;
}
.edit_object{
	position: relative;
	width: 450px;
	height: 50px;
}
.edit_object_button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color:#FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.add_service{
	position: relative;
	width: 450px;
	height: 270px;
	background-color: #d5e6f2;
}
.reg_place{
	position: relative;
	display: block;
	width: 378px;
	height: 34px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	margin: 10px auto 10px;
	text-indent: 26px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.choise_place{
	position: relative;
	border-bottom: 1px solid #0071bc;
}
.accept_place{
	position: relative;
	height: 50px;
}
.choise_service{
	position: relative;
	width: 450px;
	height: 100%;
	border-bottom: 1px solid #0071bc;
}
.accept_service{
	position: relative;
	width: 450px;
	height: 50px;
}
.accept_service_button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color:#FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
}
.accept_service_button_a{
	position: absolute;
	width: 260px;
	height: 40px;
	z-index: 10;
	top: 10px;
	right: 15px;
}
.service{
	position: relative;
	width: 380px;
	margin:24px 0px 24px 0px;
	left:34px;
}
.type{
	position: relative;
	width: 380px;
	height: 35px;
	background-color: #e8eef2;
	border-color: #0071bc;
	
	display: block;
	margin-bottom: 10px;
}
.typesmall{
	width: 215px;
}
.tzSelect{
	height:35px;
	display:inline-block;
	position:relative;
}
.tzSelect .selectBox{
	position:absolute;
	height:100%;
	width:100%;
	background-color: #e8eef2;
	border:1px solid #8da9bc;
	background-image: url(../images/arrow_select.png);
	background-repeat: no-repeat;
	background-position: 99% 50%;
	font-size: 14px;
	color: #00558d;
	text-indent: 10px;
	line-height: 34px;
}
.tzSelect .dropDown{
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	border:1px solid #8da9bc;
	border-width:0 1px 1px;
	list-style:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	z-index: 15;
}
.tzSelect li{
	height:30px;
	cursor:pointer;
	position:relative;
	background-color: #d5e6f2;
	color:black;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.tzSelect li.secondcolor{background-color: #e8eef2;}
.tzSelect li p{
	color: #6a7f8d;
	line-height: 1.8;
	text-indent: 10px;
	font-size: 15px;
}
.tzSelect li p:hover{color:#00558d;}
.type_man_who_have_service{
	position: relative;
	width: 380px;
	margin:24px 0px 24px 0px;
	left:34px;
}
.choise_tarif{
	position: relative;
	width: 215px;
	height: 35px;
	background-color: #e8eef2;
	border-color: #0071bc;
	left:34px;
	display: block;
	margin-bottom: 10px;
	float: left;
}
.dog_number{
	position: relative;
	display: block;
	width: 150px;
	height: 32px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	color: #8da9bc;
	text-indent: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	left: 48px;
	margin: 24px 0px 24px 0px;
}
.custom_tarif{
	position: relative;
	margin: 0px 0px 24px 0px;
	width: 215px;
	height: 35px;
	background-color: #0071bc;
	text-align: center;
	color: #FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	left: 34px;
	cursor: pointer;
}
.custom_tarif_container{
	position: relative;
	width: 380px;
	margin:0px 0px 24px 0px;
	left:34px;
}
.strong_string{
	position: relative;
	display: block;
	width: 378px;
	height: 40px;
	background-color: #d5e6f2;
	border: none;
	margin: 10px auto 10px;
	color: #0071bc;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.reg_end{
	position: relative;
	width: 930px;
	height: 60px;
	background-color: #e8eef2;
}
.reg_end p{
	position: relative;
	display: block;
	top:25px;
	left: 30px;
	color:#6a7f8d;
	float: left;
}
.reg_end input{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 260px;
	height: 40px;
	background-color: #0071bc;
	text-align: center;
	color:#FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	float: right;
	top:10px;
	right: 15px;
}
.horizontal_div_main{
	width: 930px;
	margin: 25px auto 0px;

}
.object{
	position: relative;
	color: #47555e;
	font-size: 15px;
	text-indent: 31px;
	display: block;
	border: none;
	background-color: #d5e6f2;
	width: 446px;
	line-height: 1.3;
	cursor: pointer;
}
.service_pay{
	position: relative;
	color: #47555e;
	font-size: 15px;
	text-indent: 31px;
	display: block;
	border: none;
	background-color: #e8eef2;
	width: 446px;
	line-height: 1.3;
	cursor: pointer;
}
.service_pay_selected{
	position: relative;
	color: #47555e;
	font-size: 15px;
	text-indent: 31px;
	display: block;
	border: none;
	background-color: #d5e6f2;
	width: 446px;
	line-height: 1.3;
	cursor: pointer;
	font-weight: bold;
}
.object_selected{
	position: relative;
	color: #47555e;
	font-size: 15px;
	text-indent: 31px;
	display: block;
	border: none;
	background-color: #e8eef2;
	width: 446px;
	line-height: 1.3;
	cursor: pointer;
	font-weight: bold;
}
.test_text{
	position: relative;
	height: 189px;
	border-bottom: 1px solid #0071bc;
}
.test_text p{
	display: block;
	height: 100px;
	position: relative;
	top:55px;
	font-size: 18px;
	width: 337px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5;
	color:#6a7f8d;
}
.test{
	height: 40px;
}
.test_button{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 320px;
	height: 35px;
	background-color: #0071bc;
	text-align: center;
	color:#FFF;
	border: 0px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}
.test_button_a{
	position: absolute;
	width: 320px;
	height: 35px;
	display: block;
	left: 64px;
	z-index: 10;
	bottom: 9px;
}
.white_cubs{
	position: relative;
	width: 420px;
	height: 180px;
	margin: 25px auto 25px;
}
.white_cub{
	position: relative;
	float: left;
	width: 205px;
	height: 85px;
	margin-right: 5px;
	margin-top: 5px;
	background-color: #FFF;
}
.horizontal_div_pay_one{
	width: 930px;
	margin: 25px auto 0px;
	height: 300px;
}
.horizontal_div_pay_two{
	width: 930px;
	height: 500px;
	margin: 25px auto 0px;
}
.pay{
	position: relative;
	width: 450px;
	height: 460px;
	background-color: #d5e6f2;
}
.pay_text{
	position: relative;
	width: 450px;
	min-height: 100px;
	border-bottom: 2px solid #8da9bc;
}

.pay_text a{
	text-decoration: none;
}

.pay_text a:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
   } 

.service_pay_block{
	position: relative;
	width: 450px;
	min-height: 100px;
	border-bottom: 2px solid #8da9bc;
}
.scetchiki{
	width: 450px;
	height: 270px;
	border-bottom: 1px solid #0071bc;
}
.razraz_1{
	position: absolute;
	display: block;
	width: 78px;
	height: 40px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	margin: 10px auto 10px;
	text-indent: 26px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	top: 185px;
	right: 30px;
}
.razraz_2{
	position: absolute;
	display: block;
	width: 78px;
	height: 40px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	margin: 10px auto 10px;
	text-indent: 26px;
	color:#8da9bc;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	top: 230px;
	right: 30px;
}
.paypay p{
	position: relative;
	float: right;
	display: block;
	color:#47555e;
	top:15px;
	right: 30px;
}
.aaaa{
	position: relative;
	display: block;
	color:#47555e;
	top:15px;
	left: 30px;
}
.prof_name p{
	position: relative;
	display: block;
	color:#FFF;
	top:15px;
	right: 30px;
	float: right;
}
.ofertaindasite_container{
	position: relative;
	width: 930px;
	height: 500px;
	margin: 0 auto;
	background-color: #d5e6f2;
	border-top: 1px solid #8da9bc;
}
.oferta_some_text{
	position: relative;
	margin: 15px auto 0px;
	width: 890px;
	height: 470px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	overflow-y: scroll;
}
.oferta_some_text p{
	padding: 5px 20px 0px 20px;
	line-height: 1.3;
	font-size: 12px;
	color: #47555e;
	margin-top: 5px;
}

/*	app	*/

.download_text{
	position: relative;
	width: 100%;
	height: 95px;
	background-color: #e8eef2;
	border-bottom: 1px dotted #6a7f8d;
}
.download_text p{
	position: relative;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top: 25px;
	left: 15px;
}
.icon_iphone_container{
	position: relative;
	width: 100%;
	height: 150px;
}
.download{
	display: block;
	position: absolute;
	top: 45px;
	right:22px;
	color:#00558d;
	font-size: 19px;
}
.download b{font-weight: 600;}
.appstore{
	display: block;
	position: absolute;
	top: 70px;
	right: 22px;
	color: #00558d;
	font-size: 42px;
	font-weight: 600;
}
.iphone_logo{
	 position: absolute;
	 width: 136px;
	 height: 136px;
	 background-image: url(../images/app_logo.png);
	 top:15px;
	 left:12px;
}
.Android{
	position: relative;
	width: 100%;
	height: 85px;
}
.Android p{
	position: relative;
	font-size: 14px;
	line-height: 1.4;
	color: #47555e;
	top: 25px;
	left: 15px;
	width: 430px
}

/*	footer	*/

.footer{
	position: relative;
	width: 100%;
	height: 97px;
	background-color: #e8eef2;
	clear:both;
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.mini_logo{
	position: absolute;
	width: 63px;
	height: 63px;
	background: url(../images/logo-round_mini.png) no-repeat;
	background-position: 0px 1px;
	left: 14px;
	z-index: 10;
}
.footer_text{
	position: absolute;
	width: 170px;
	top: 9px;
	left: 84px;
}
.footer_text p{
	position: relative;
	font-size: 12px;
	line-height: 1.2;
	color: #47555e;
}
.white_line{
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #FFF;
	top:47px;
}
.app_download{
	position: absolute;
	display: block;
	width: 236px;
	height: 73px;
	background-image: url(../images/appstore_button-1.png);
	top:15px;
	right: 16px;
}

.service_pay_block a
{
	text-decoration: none;
}

.for_pop_up
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	display: none;

}

.pop_up_div
{
	background: #666 no-repeat;
	width: 222px;
	height: 62px;
	color: #fff;
	font-family: verdana;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
	padding: 15px;
	margin: 20px;
	opacity: 0.8;
	position: relative;
	text-align: center;
	display: none;

}

.tariff_input_reading
{
	position: relative;
	display: block;
	width: 271px;
	height: 32px;
	background-color: #e8eef2;
	border: 1px solid #8da9bc;
	color: #8da9bc;
	text-indent: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0px 20px 0px 0px;
	float: right;
}

.pay_text{
	position: relative;
	width: 450px;
	min-height: 100px;
	border-bottom: 2px solid #8da9bc;
}

.pay_text a{
	text-decoration: none;
}

.pay_text a:nth-child(odd), .service_pay_block a:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
   } 

.pay_text a:hover, .service_pay_block a:hover
{
	background-color: #a0a0a0;
}

.pay_text a.object_selected, .service_pay_block a.service_pay_selected
{
	background-color: #a0a0a0;
}

.price_pay .tariff_field p
{
	width: auto;
	padding-right: 5px;
}

.pay_ended p
{
	margin: 0px 0px 0px 0px;
}

input[type="button"][disabled="disabled"], input[type="submit"][disabled="disabled"]{
position: relative;
display: block;
margin: 0 auto;
width: 220px;
height: 40px;
background-color: #8da9bc;
text-align: center;
text-shadow: 1px 1px 0px #FFF;
color: #6a7f8d;
border: 0px;
font-size: 15px;
font-weight: 600;
cursor: pointer;
}

.initial_readings
{
	display: none;
}

.amount_box p {
	position: relative;
	color: #47555e;
	left: 34px;
	font-size: 15px;
	display: block;
	border: none;
	line-height: 4;
	width: auto;
	display: inline-block;
}

.amount_box .reg_input 
{
	margin-right: 15px;
	text-align: right;
	padding-right: 20px;
	width: 200px;
	float: right;
	color: rgb(33, 83, 117);
}

.end
{
	clear: both;
}
/*.pop_up_div {
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}*/