.metrics {
	width: 600px;
	margin: auto;
	margin-top: 50px;
}

.metrics > h2 {
	margin-bottom: 50px;
}

.metrics-jumbo {
	height: 400px;
	background-color: cyan;
}

.vendor-select, .vendor-button {
	display: inline-block;
	float: left;
}

.vendor-select {
	width: 320px;
}