.metrics {
	width: 600px;
	margin: auto;
	margin-top: 50px;
}

.metrics > h2 {
	margin-bottom: 50px;
}

.metrics-jumbo {
	height: 400px;
	background-color: cyan;
}

.vendor-select, .vendor-button {
	display: inline-block;
	float: left;
}

.vendor-select {
	width: 320px;
}

.metrics-input-col {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.metrics-input-col input {
	width: 80%;
}

.before-date {
	color: grey;
	font-size: 12px;
}

input.boolean {
	float: left;
	margin-right: 5px;
}

.footer {
	background-color: cyan;
	margin-top: 20px;
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}