	<div class="logo_top"></div>
	<div class="form_box" id="reset_pass_box">
		<div class="logo_btm"></div>
		<div class="login_form_texts">
			<div><p>Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p></div>
			<div class="blue_text"><p>Изменение пароля</p></div>
		</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= f.hidden_field :reset_password_token %>
			<div class="login_inputs">
				  <%= f.password_field :password, autofocus: true, placeholder: "Введите новый пароль", class: 'showpassword' %>
				  
			</div>
			<div class="login_buttons" style="padding: 0px 30px;">
				<%= f.submit "Изменить пароль", class: 'submit_button_login', id: 'reset_pass_button' %>
			</div>
		<% end %>

	</div>
	<p class="little_white_text">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
