<form method='post' action='<%= @acsurl %>'> <input type='hidden' name='PaReq'
value='<%= @pareq %>' />
<input type='hidden' name='TermUrl' value='https://izkh.ru' />
<input type='hidden' name='MD' value='<%= @md %>' />
        <br>
        <br>
        <br>
        <input type='submit' value='Submit' />
</form>