%meta(charset="utf-8")
%meta(property="og:title" content="Сервис 'АйЖКХ'")
%meta(property="og:url" content="http://izkh.ru")
%meta(property="og:image" content="http://izkh.ru/images/logo-round.png")
%meta(property="og:description" content="Сервис для учета расходов и оплаты услуг в сфере ЖКХ.")
= csrf_meta_tags