<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Главная страница</p>
</div>
<div class="horizontal_div_main">
	<div class="box_left box_blue">
		<div class="data_box_top">
			<p>Тестовая версия</p>
		</div>
		<div class="test_text">
			<h6>Уважаемые друзья!</h6>
<p>Мы рады приветствовать Вас на сайте нашего сервиса. </p>
<p>Электронный коммуникационно-финансовый сервис «АйЖКХ» только начинает свою работу. Наша задача – сделать Ваше взаимодействие с организациями-поставщиками услуг  быстрым, простым и удобным. </p>
<p>Это первый сервис такого рода. </p>
<p>Мы хорошо осознаем, что пока не все реализовано, но у нас есть видение, как должно все работать, и есть план, как все организовать. У Вас есть уникальная возможность принять участие в формировании нужного и полезного сервиса. </p>
<p>Попробуйте воспользоваться нашим приложением, а затем ответьте на несколько вопросов в анкете, которая придет Вам на электронную почту после использования сервиса. Ваши ответы и комментарии помогут  понять, что более приоритетно для Вас, наших пользователей, и скорректировать свои действия таким образом, чтобы Ваше удобство было на первом месте.</p>
<p>С уважением,	команда «АйЖКХ».</p>

		</div>
		<div class="test">
			<% unless current_user %>
			<input type="button" class="test_button" value="Регистрация">
				<%= link_to "", "offer", class: "test_button_a" %>
			<% else%>
			<input type="button" class="test_button" value="Перейти в профиль">
				<%= link_to "", "profile", class: "test_button_a" %>
			<% end %>
		</div>
	</div>
	<div class="box_right box blue">
		<div class="data_box_top ">
			<p>Партнеры</p>
		</div>
		<div class="white_cubs">
			<div class="white_cub white_cub_1"> <!-- <a href="http://www.jtcom.ru/"> --> <img src="../images/logo_jt.png" /> <!-- </a> --> </div>
			<div class="white_cub white_cub_2"> <!-- <a href="http://www.bm.ru/"> --> <img src="../images/logo_bm.png" /> <!-- </a> --> </div>
			<div class="white_cub white_cub_3"> <!-- <a href="http://www.payonline.ru/"> --> <img src="../images/logo_payonline.png" /> <!-- </a> --> </div>
			<div class="white_cub white_cub_4"> <!-- <a href="http://www.delta.ru/"> --> <img src="../images/logo_delta.png" /> <!-- </a> --> </div>
		</div>
	</div>
</div>