var precincts = '';
<% unless @precincts == [] %>
	<% @precincts.each do |p| %>
	precincts += '<p  class="precinct_line" p_id="<%= p.id %>"><span> <%= p.surname %> <%= p.name %> <%= p.middlename %></span> </p>';
	<% end %>
<% else %>
	precincts = '<p> Совпадений не найдено </p>';
<% end %>
$('#insert_precincts_here').html(precincts);
setPrecinctsClick();