<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Справочник участковых</p>
</div>

<div class="container_boxes">
  <div class="horizontal_div" style="width: 100%; float: none;">
    <div class="box_blue" id="" style="min-height:245px;width:880px;padding: 25px; background-color: #e8eef2; font-size: 0.9em;">
		
		<p>
			<label for="by_name">  <input type="radio" name="search_by" id="by_name" value="by_name" onchange='searchBySelect(this)' checked> Поиск по имени </label>
		</p>

		<p>
			<label for="by_street"><input type="radio" name="search_by" id="by_street" value="by_street" onchange='searchBySelect(this)'> Поиск по улице </label>
		</p>

		<%= text_field_tag (:search_by_name), '' , placeholder: 'Начните вводить имя, фамилию или отчество',  class: 'energosbyt_text_field' %>

		<%= text_field_tag (:search_by_street), '', placeholder: 'Начните вводить название улицы',  class: 'energosbyt_text_field'  %> 
		
		<br>
		
 		
		

		<div id="insert_precincts_here">
				<img src="/images/progressbar.gif" alt="" style="visibility:hidden;">
		</div>

		<div id="insert_streets_here">
			<div class="jq-selectbox jqselect opened" style="display: inline-block; position: relative; z-index: 100; width: 250px;"><div class="jq-selectbox__select"><div class="jq-selectbox__select-text">-- Выберите --</div><div class="jq-selectbox__trigger"><div class="jq-selectbox__trigger-arrow"></div></div></div><div class="jq-selectbox__dropdown" style="position: absolute; overflow-y: auto; overflow-x: hidden; left: 0px; display: block; height: auto; bottom: auto; top: 33px;"><ul style="list-style: none"><li class="sel selected" style="display: block; white-space: normal;">-- Выберите --</li><li class="" style="display: block; white-space: normal;">Пункт 1</li><li class="" style="display: block; white-space: normal;">Пункт 2</li><li class="disabled" style="display: block; white-space: normal;">Пункт 3</li><li class="" style="display: block; white-space: normal;">Пункт 4</li><li class="" style="display: block; white-space: normal;">Пункт 5</li></ul></div></div>
		</div>

    </div>
  </div>
</div>

<script>       

var searchBySelect = function(thisEl){
	if (thisEl.checked == true)
		{
		switch(thisEl.value){
			case 'by_name':
				$('input#search_by_street').hide();
				$('input#search_by_name').fadeIn('fast');
				console.log('by_name');
			break

			case 'by_street':
				$('input#search_by_name').hide();
				$('input#search_by_street').fadeIn('fast');
				console.log('by_street');
			break
		}
	}
};

</script>

<script>

 	var setPrecinctsClick = function()
 	{
		$('.precinct_line').click(function(){
			$('#insert_precincts_here').html('<img src="/images/progressbar.gif" alt="progressbar">');
			p_id = $( this ).attr('p_id');
			console.log('match!');
			$.ajax({
				    type: "POST",
				    url: "/precinct_by_id",
				    data: { search_request: p_id }
				    });
		});
 	}

	$('#search_by_name').keyup(function () {

		$('#insert_precincts_here').html('<img src="/images/progressbar.gif" alt="progressbar">');

		if ($( this ).val() == '')
		{
			$('#insert_precincts_here').html('');
		}	
		else
		{
			data = $( this ).val().toLowerCase()
			$.ajax({
			    type: "POST",
			    url: "/precinct_by_name",
			    data: { search_request: data }
			    });
		}
	});


	$('#search_by_street').keyup(function () {
		if ($( this ).val() == '')
		{
			$('#insert_streets_here').html('');
		}	
		else
		{
			data = $( this ).val().toLowerCase()
			$.ajax({
			    type: "POST",
			    url: "/precinct_by_street",
			    data: { search_request: data }
			    });
		}
	});

</script>