<div class="guide_item">
	<iframe width="325" height="285" src="//www.youtube.com/embed/nUxI8cANm-g" frameborder="0" allowfullscreen></iframe>
</div>


<div class="guide_item" style="margin-bottom: 30px; ">
	
	<div class="data_box_top">
		<button class="guide_prev"> ←  </button>
		<button class="guide_next"> → </button>
		<p class="guide_top">Как пользоваться сервисом</p>
	</div> 

<div class="guide_box">

		<div class="guide_carousel">
			<ul>
				<li>
					<p class="guide_step">Шаг 1</p>
					<img src="/assets/guide/1-1.png" alt="Шаг первый"/>
					<p class="guide_text">Регистрация на сервисе.</p>

				</li>

				<li>
					<p class="guide_step">Шаг 2</p>
					<img src="/assets/guide/2-1.png" alt="Шаг второй"/>
					<p class="guide_text">Прикрепление объекта.</p>

				</li>

				<li>
					<p class="guide_step">Шаг 3</p>
					<img src="/assets/guide/3-1.png" alt="Шаг третий"/>
					<p class="guide_text">Добавление услуг к сохранённому объеку недвижимости.</p>

				</li>

				<li>
					<p class="guide_step">Шаг 4</p>
					<img src="/assets/guide/4-1.png" alt="Шаг четвёртый"/>
					<p class="guide_text">Получение счетов по текущему объекту.</p>

				</li>

				<li>
					<p class="guide_step">Шаг 5</p>
					<img src="/assets/guide/5-1.png" alt="Шаг пятый"/>
					<p class="guide_text">Оплата счёта.</p>

				</li>
			</ul>
		</div>

	</div>

</div>


<script>
	$( document ).ready(function() {
	        $(".guide_carousel").jCarouselLite({
	        btnNext: ".guide_next",
	        btnPrev: ".guide_prev",
	        speed: 500,
	        visible: 1, 
	    });
	});
	</script>