<%= render 'info' %>
<%= render 'guides' %>
<%= render 'news' %>

<div id="adv_block">
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
	<div class="adv_item"><a href="https://izkh.ru/precinct"><img src="assets/MobilePrecinct.png" alt=""></a></div>
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
</div> 





