<%= render 'info' %>
<%= render 'guides' %>


<div id="adv_block">
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
	<div class="adv_item"><img src="assets/MobilePrecinct.png" alt=""></div>
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
	<div class="adv_item"><img src="assets/320x170.png" alt=""></div>
</div> 





