<h3>Адреса терминалов оплаты</h3>
<style>
  td {
    border: 1px solid grey;
  }
</style>
<table>
  <thead>
    <th>Город</th>
    <th>Адрес</th>
  </thead>
  <tbody>
    <tr><td>Чапаевск</td><td>ул. Железнодорожная, 37А</td></tr>
    <tr><td>Самара</td><td>ул. Владимирская, 41А</td></tr>
    <tr><td>Самара</td><td>Заводское шоссе, 6</td></tr>
    <tr><td>Воскресенка</td><td>ул. Рабочая, 5</td></tr>
    <tr><td>Самара</td><td>ул. Ленинградская, 100</td></tr>
    <tr><td>Самара</td><td>Крутые ключи, 24</td></tr>
    <tr><td>Самара</td><td>ул. 22 Партсъезда, 1</td></tr>
    <tr><td>Самара</td><td>ул. Матросова, 27/55</td></tr>
    <tr><td>Самара</td><td>Заводское шоссе, 48</td></tr>
    <tr><td>Самара</td><td>ул. Земеца, 20</td></tr>
    <tr><td>Самара</td><td>ул. Советской Армии, 200</td></tr>
    <tr><td>Самара</td><td>ул. Олимпийская, 68А</td></tr>
    <tr><td>Самара</td><td>ул. Гагарина, 14</td></tr>
    <tr><td>Самара</td><td>ул. Победы, 75</td></tr>
    <tr><td>Самара</td><td>ул. Победы, 95</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Победы, 29</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Коммунистическая, 11А</td></tr>
    <tr><td>Самара</td><td>ул. Галактионовская, 32</td></tr>
    <tr><td>Самара</td><td>ул. Спортивная, 3</td></tr>
    <tr><td>Самара</td><td>ул. Егорова, 10А</td></tr>
    <tr><td>Самара</td><td>ул. Революционная, 75</td></tr>
    <tr><td>Самара</td><td>ул. Первомайская, 26</td></tr>
    <tr><td>Самара</td><td>Московское шоссе, литера А</td></tr>
    <tr><td>Чапаевск</td><td>ул. Калинина, 36</td></tr>
    <tr><td>Самара</td><td>пр.Металлургов, 77</td></tr>
    <tr><td>Самара</td><td>пр.Юных Пионеров, 146</td></tr>
    <tr><td>Чапаевск</td><td>ул. Ленина, 66</td></tr>
    <tr><td>Самара</td><td>ул. Аминева, 29</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Садовая, 323</td></tr>
    <tr><td>Самара</td><td>ул. Белорусская, 131</td></tr>
    <tr><td>Самара</td><td>пос. Мехзавод, 2-й квартал, 52</td></tr>
    <tr><td>Смышляевка</td><td>ул. Пионерская, 2Б</td></tr>
    <tr><td>Смышляевка</td><td>ул. Шоссейная, 1</td></tr>
    <tr><td>Самара</td><td>п. Мехзавод, 2-й квартал, 49А</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 86</td></tr>
    <tr><td>Самара</td><td>ул. Черемшанская, 131</td></tr>
    <tr><td>Самара</td><td>пр. Металлургов, 8</td></tr>
    <tr><td>Самара</td><td>пр. Карла Маркса, 510Е</td></tr>
    <tr><td>Самара</td><td>пр. Карла Маркса, 510Е</td></tr>
    <tr><td>Самара</td><td>ул. Олимпийская, 68А</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Зои Космодемьянской, 9</td></tr>
    <tr><td>Самара</td><td>Красная Глинка, 2-й квартал, 24</td></tr>
    <tr><td>Самара</td><td>ул. Гагарина, 157</td></tr>
    <tr><td>Самара</td><td>пр. Ленина, 5</td></tr>
    <tr><td>Самара</td><td>ул. Белорусская, 131</td></tr>
    <tr><td>Самара</td><td>ул. Егорова, 10А</td></tr>
    <tr><td>Самара</td><td>ул. Зеленая, 19</td></tr>
    <tr><td>Самара</td><td>ул. Аэродромная, 117</td></tr>
    <tr><td>Кинель-Черкассы</td><td>ул. Ефремова, 52 А</td></tr>
    <tr><td>Самара</td><td>Зубчаниновское шоссе, 151</td></tr>
    <tr><td>Самара</td><td>пр. Карла Маркса, 510B</td></tr>
    <tr><td>Самара</td><td>пр. Кирова проспект, 273</td></tr>
    <tr><td>Самара</td><td>проезд Мальцева, 9, рынок Бакалея, Литер Х</td></tr>
    <tr><td>Самара</td><td>Молодежный пер, 22</td></tr>
    <tr><td>Самара</td><td>ул. 22 Партсъезда, 56г</td></tr>
    <tr><td>Самара</td><td>ул. Советской Армии, 17</td></tr>
    <tr><td>Самара</td><td>ул. Стара Загора, 220А</td></tr>
    <tr><td>Самара</td><td>ул. Ташкентская, 93</td></tr>
    <tr><td>Самара</td><td>ул .Ташкентская, 99</td></tr>
    <tr><td>Самара</td><td>ул. Юбилейная, 9</td></tr>
    <tr><td>Самара</td><td>Московское шоссе, 28</td></tr>
    <tr><td>Самара</td><td>ул. Физкультурная, 29</td></tr>
    <tr><td>Самара</td><td>пр. Металлургов, 78</td></tr>
    <tr><td>Самара</td><td>ул. Свободы, 73</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Свердлова, 6</td></tr>
    <tr><td>Новокуйбышевск</td><td>пр. Победы, 28</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Егорова, 10В</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Миронова, 8</td></tr>
    <tr><td>Самара</td><td>ул. Егорова, 5А</td></tr>
    <tr><td>Самара</td><td>ул. Карбышева, 61</td></tr>
    <tr><td>Тольятти</td><td>ул. 70 лет Октября, 22А</td></tr>
    <tr><td>Самара</td><td>ул. Воеводина, 16</td></tr>
    <tr><td>Тольятти</td><td>Автостроителей, 80А</td></tr>
    <tr><td>Тольятти</td><td>Гидротехническая, 43Б</td></tr>
    <tr><td>Тольятти</td><td>ул. Дзержинского, 27</td></tr>
    <tr><td>Жигулевск</td><td>Г-1, 4</td></tr>
    <tr><td>Тольятти</td><td>ул. Революционная, 34</td></tr>
    <tr><td>Тольятти</td><td>Ленинградская, 55А</td></tr>
    <tr><td>Тольятти</td><td>Ленинградская, 24</td></tr>
    <tr><td>Самара</td><td>ул. Победы, 168</td></tr>
    <tr><td>Тольятти</td><td>Механизаторов, 20А</td></tr>
    <tr><td>Самара</td><td>ул. Измайловский переулок, 2</td></tr>
    <tr><td>Жигулевск</td><td>Морквашинская, 35</td></tr>
    <tr><td>Тольятти</td><td>Никонова, 16</td></tr>
    <tr><td>Тольятти</td><td>Революционная, 20</td></tr>
    <tr><td>Тольятти</td><td>Космонавтов, 3А</td></tr>
    <tr><td>Тольятти</td><td>Южное шоссе, 53</td></tr>
    <tr><td>Тольятти</td><td>Ярославская, 31, ст. 2</td></tr>
    <tr><td>Тольятти</td><td>Железнодорожная, 1А</td></tr>
    <tr><td>Самара</td><td>ул. Ногина, 6</td></tr>
    <tr><td>Самара</td><td>ул. Тополей, 3</td></tr>
    <tr><td>Самара</td><td>6 просека, 141</td></tr>
    <tr><td>Самара</td><td>пос. Красная Глинка, 5 квартал 4А</td></tr>
    <tr><td>Самара</td><td>ул. Полевая, 65</td></tr>
    <tr><td>Чапаевск</td><td>ул. Ленина, 31</td></tr>
    <tr><td>Самара</td><td>ул. Красноармейская, 62А</td></tr>
    <tr><td>Самара</td><td>ул. Губанова, 15</td></tr>
    <tr><td>Тольятти</td><td>ул. Никонова, 9</td></tr>
    <tr><td>Самара</td><td>ул Московское шоссе, 320/Ташкенская</td></tr>
    <tr><td>Самара</td><td>ул. 22 Партсъезда, 34</td></tr>
    <tr><td>Самара</td><td>ул. Советской Армии, 132</td></tr>
    <tr><td>Самара</td><td>ул. Победы, 125</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 177Б</td></tr>
    <tr><td>Черновский</td><td>ул. 40 лет Победы, 4А</td></tr>
    <tr><td>Самара</td><td>бульвар Фенютина, 62</td></tr>
    <tr><td>Нагорный</td><td>ул. Котовского, 23</td></tr>
    <tr><td>Новокуйбышевск</td><td>пр. Победы, 43</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Дзержинского, 8А</td></tr>
    <tr><td>Самара</td><td>ул. Фадеева, 67</td></tr>
    <tr><td>Самара</td><td>пр. Кирова, 226А</td></tr>
    <tr><td>Самара</td><td>ул. Булкина, 78</td></tr>
    <tr><td>Самара</td><td>ул.Партизанская, 184</td></tr>
    <tr><td>Самара</td><td>ул.Стара-Загоры, 124А</td></tr>
    <tr><td>Самара</td><td>Костромский пер., 10</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Вокзальная, 12</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Садовая, 387</td></tr>
    <tr><td>Самара</td><td>ул. Революционная, 163А</td></tr>
    <tr><td>Самара</td><td>ул. Владимирская, 35А</td></tr>
    <tr><td>Самара</td><td>ул. Аминева, 1</td></tr>
    <tr><td>Самара</td><td>ул. Арцыбушевская, 34А</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 51</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Вокзальная, 1 (торговый павильон № Л 32)</td></tr>
    <tr><td>Самара</td><td>пос. Управленческий, ул. Сергея Лазо, 15 Б</td></tr>
    <tr><td>Самара</td><td>ул. Минская, 34</td></tr>
    <tr><td>Самара</td><td>пр. Ленина, 12 "А", 2 этаж</td></tr>
    <tr><td>Самара</td><td>ул. Авроры, 181</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Садовая, 192/2</td></tr>
    <tr><td>Алексеевка</td><td>ул. Невская, 10</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 86</td></tr>
    <tr><td>Самара</td><td>ул. Партизанская, 174 А, магазин "Семерочка", секция № 33,</td><td>2 этаж.</td></tr>
    <tr><td>Самара</td><td>ул. Куйбышева, 100/ул.Некрасовская,21</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул. Горького, 44</td></tr>
    <tr><td>Самара</td><td>Ново-молодежный пер., д. 19 (116 км)</td></tr>
    <tr><td>Хворостянка ул. Плясункова, 17</td></tr>
    <tr><td>Чапаевск</td><td>ул. Запорожская, 27</td></tr>
    <tr><td>Самара</td><td>ул. Стара-Загора, 59, строение 1</td></tr>
    <tr><td>Самара</td><td>пр. Карла Маркса, 179</td></tr>
    <tr><td>Самара</td><td>ул. Минская, 25</td></tr>
    <tr><td>Чапаевск</td><td>ул. Ленина, 39</td></tr>
    <tr><td>Самара</td><td>ул. Гагарина, 120 к1</td></tr>
    <tr><td>Самара</td><td>ул. Ново-Садовая, 36</td></tr>
    <tr><td>Самара</td><td>ул. Победы, 131</td></tr>
    <tr><td>Самара</td><td>ул Советская, 42</td></tr>
    <tr><td>Самара</td><td>ул А.Толстого, 18</td></tr>
    <tr><td>Самара</td><td>ул Пугачевский Тракт, 13</td></tr>
    <tr><td>Самара</td><td>ул Галактионовская, 130</td></tr>
    <tr><td>Самара</td><td>ул Аэродромная, 72</td></tr>
    <tr><td>Новокуйбышевск</td><td>ул 50 лет НПЗ, 10</td></tr>
    <tr><td>Самара</td><td>ул Промышленности, 285</td></tr>
    <tr><td>Самара</td><td>ул Ново-Вокзальная, 195</td></tr>
    <tr><td>Самара</td><td>ул. Дыбенко, 120</td></tr>
    <tr><td>Самара</td><td>проспект Ленина, д.1</td></tr>
    <tr><td>Самара</td><td>ул. Георгия Димитрова, 44</td></tr>
    <tr><td>Самара</td><td>ул. Георгия Димитрова, 117</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 74</td></tr>
    <tr><td>Самара</td><td>ул. Ставропольская, 202</td></tr>
    <tr><td>Самара</td><td>ул. Стара-Загора, 108</td></tr>
    <tr><td>Самара</td><td>ул. Чернореченская, 47</td></tr>
    <tr><td>Самара</td><td>ул. Чернореченская, 49</td></tr>
    <tr><td>Самара</td><td>ул. Физкультурная, 33</td></tr>
    <tr><td>Самара</td><td>ул. Калинина, 14</td></tr>
    <tr><td>Самара</td><td>ул. Георгия Димитрова, 27</td></tr>
    <tr><td>Самара</td><td>ул. Стара-Загора, 85</td></tr>
  </tbody>
</table>

