$('#service_tariff_id').attr('disabled','disabled').trigger('refresh');
$('#service_vendor_id').attr('disabled','disabled').trigger('refresh');
$('#service_service_type_id').val('0').trigger('refresh');
$('#service_vendor_id').val('0').trigger('refresh');
$('#service_tariff_id').val('0').trigger('refresh');
$('div#service_tariff_id').html("Выберите тариф");
$('div#service_vendor_id').html("Поставщик");
$('div#service_service_type_id').html("Выберите тип услуги ЖКХ");
$('.dog_number').val('');
$('.meter_reading_field').val('');
$(".filed_template_section").hide();
$('div#service_box').hide();
$("select :nth-child(1)").attr("selected", "selected");
$('div.service_name').append("<p class='service_li'><%= @service.title %></p>");
$('#objectFreeze').css('display','none');
$("#reg_end_button").removeAttr("disabled");
$("#field_templates_box").html() = f_t_box_content;
popUpRender('<%= @message %>');
// $('div#select_service_tariff_template_id').html("Тарифы");
// $('div#service_vendor_id').html("Поставщик");
// $('div#service_service_type_id').html("Выберите тип услуги ЖКХ");
// $("select :nth-child(1)").attr("selected", "selected");
// $('div.service_name').append("<p class='service_li'><%= @service.title %></p>");
// $('#objectFreeze').css('display','none');
// $("#reg_end_button").removeAttr("disabled");
// popUpRender('<%= @message %>');