<label class="switch">
		<input type="checkbox" object-type="<%= object_type %>" object-id="<%= object.id %>" class="switch-input">
		<span class="switch-label" data-on="On" data-off="Off"></span>
		<span class="switch-handle"></span>
</label>
<button class="reject">Отказ</button>