<link rel="stylesheet" href="/stylesheets/multiselect.css">


<p>Заполните анкету и загрузите своё фото</p>

<br>
<div id="new_freelancer_form">
	<%= render 'form' %>
</div>

<!-- http://jsfiddle.net/Kulgar/57F67/ -->

<!-- <div style="_height: px; width: 47%;background-color: #FFF;border: 1px solid #FFF; text-align: left;">

	<% @tags_array.each do |tag| %>
		<a href="#" style="font-size:<%= 15 + Random.rand(5) %>px;text-decoration:none; margin-left: 10px; border-bottom: 1px dotted; color: #000;"> <%= tag[0] %>  </a>
	<% end %>

</div>  -->

<script src="/javascripts/jquery.multiselect.js"></script>
<script src="/javascripts/jquery.quicksearch.js"></script>


<script>

	// multi-select plugin
	var $tags_select = $('#freelance_interface_freelancer_tags');

	$tags_select.multiSelect({
	  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Поиск категории...' >",
	  // selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Поиск...' >",
	  selectionHeader: "<div  class=\"search-input\"> Выбранные категории: </div>",
	  afterInit: function(ms){
	    var that = this,
	        $selectableSearch = that.$selectableUl.prev(),
	        $selectionSearch = that.$selectionUl.prev(),
	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
	    .on('keydown', function(e){
	      if (e.which === 40){
	        that.$selectableUl.focus();
	        return false;
	      }
	    });

	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
	    .on('keydown', function(e){
	      if (e.which == 40){
	        that.$selectionUl.focus();
	        return false;
	      }
	    });
	  },
	  afterSelect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  },
	  afterDeselect: function(){
	    this.qs1.cache();
	    this.qs2.cache();
	  }
	});


	// unbind custom field default event by pressing enter

	$('#custom_tag_field').keypress(function(event) {
	    if (event.keyCode == 13) {
        	$tags_select.multiSelect('addOption', { value: this.value, text: this.value, index: 0, nested: 'Новые категории'  });
			$tags_select.multiSelect('refresh');
      		return false;
      		
      		
      		// $fi_freelancer_tags = $('#freelance_interface_freelancer_tags');
			// $fi_freelancer_tags.prepend('<option selected value="0">' + this.value  + '</option>');
        }
    });


	// photo preview

	var $preview = $("p.freelancer_info_picture img");
    
    $("#freelance_interface_freelancer_picture_url").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           $preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });


</script>

<!-- 
<div id="wrapper">
	<input id="File1" type="file"/>
</div>

 -->

