<p>Заполните анкету и загрузите своё фото</p>
<%= render 'form' %>

<div style="_height: px;width: 47%;background-color: #FFF;border: 1px solid #FFF;text-align: left;">
   <a href="#" style="font-size:19px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Уборка </a>  
   <a href="#" style="font-size:12px;text-decoration:none; border-bottom: 1px dotted; color: #87A800;">Ремонт </a>  
   <a href="#" style="font-size:16px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Телевизоров </a>  
   <a href="#" style="font-size:21px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">Обучение </a>  
   <a href="#" style="font-size:18px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">Седовник </a>  
   <a href="#" style="font-size:13px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">Водопроводчик </a>  
   <a href="#" style="font-size:12px;text-decoration:none; border-bottom: 1px dotted; color: #039FAF;">Монтажник </a>  
   <a href="#" style="font-size:15px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">Разнорабочий </a>  
   <a href="#" style="font-size:21px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">Уборка </a>  
   <a href="#" style="font-size:19px;text-decoration:none; border-bottom: 1px dotted; color: #87A800;">Ремонт </a>  
   <a href="#" style="font-size:19px;text-decoration:none; border-bottom: 1px dotted; color: #87A800;">Няня </a>  
   <a href="#" style="font-size:14px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">web design </a>  
   <a href="#" style="font-size:12px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Ремонт стиральных машин </a>  
   <a href="#" style="font-size:16px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Ubuntu </a>  
   <a href="#" style="font-size:14px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">twitter </a>  
   <a href="#" style="font-size:20px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Маляр </a>  
   <a href="#" style="font-size:14px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">wordpress </a>  
   <a href="#" style="font-size:15px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">youtube </a>  
   <a href="#" style="font-size:19px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">Электрик </a>  
   <a href="#" style="font-size:21px;text-decoration:none; border-bottom: 1px dotted; color: #FF7600;">web 2.0 </a>  
   <a href="#" style="font-size:22px;text-decoration:none; border-bottom: 1px dotted; color: #87A800;">motion design </a>  
   <a href="#" style="font-size:15px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">work </a>  
   <a href="#" style="font-size:12px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">телефонмастер </a>  
   <a href="#" style="font-size:16px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">турникмен </a>  
   <a href="#" style="font-size:16px;text-decoration:none; border-bottom: 1px dotted; color: #DE2159;">игра на гитаре </a>  
   <a href="#" style="font-size:12px;text-decoration:none; border-bottom: 1px dotted; color: #039FAF;">катание на сноуборде </a>  
</div> 