%h2
  Оферта на размещение частных объявлений физических лиц, не связанные с коммерческой деятельностью
%br
%p
  Настоящим общество с ограниченной ответственностью «АйЖКХ», далее Исполнитель выражает намерение заключить договор на оказание услуг по размещению частных объявлений от физических лиц, не связанные с коммерческой деятельностью, с Заказчиками на условиях настоящей оферты (далее — "Договор").
%br
%h3
  1. Термины и определения
%br
%p 
  В целях настоящей оферты нижеприведенные термины используются в следующих значениях:
  Оферта — настоящий документ опубликованный на сайте http://www.айжкх.рф.
  Сведения — предоставляемые Заказчиком документы, содержащие сведения об ассортименте, ценах, характеристиках, работ (услуг), предлагаемых, предоставляемых и необходимых для выполнения работы по настоящему договоры оферты Исполнителем.
  Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в п.6.1. Оферты. Акцепт Оферты создает Договор;
  Заказчик — лицо, осуществившее Акцепт Оферты и являющееся потребителем услуг размещения частных объявлений от физических лиц, не связанные с коммерческой деятельностью, по заключенному Договору;
  Договор — договор между Заказчиком и Исполнителем на предоставление информационных услуг, который заключается посредством Акцепта Оферты.
%br
%h3
  2. Предмет оферты
%br
%p
  2.1. Исполнитель обязуется в течение срока действия Договора оказывать Заказчику услуги, связанные с размещением частных объявлений от физических лиц, не связанные с коммерческой деятельностью.
  2.2. Заказчик обязуется принимать и оплачивать услуги в соответствии с условиями Оферты.
%br
%h3
  3. Общие условия оказания услуг
%br
%p
  3.1. Исполнитель оказывает Услуги Заказчику только при выполнении следующих условий:
  3.1.1. Заказчик согласовал с Исполнителем параметры размещения объявлений;
  3.1.2. Заказчик предоставил Материалы, соответствующие требованиям Оферты;
  3.1.3. Заказчик осуществил Акцепт Оферты.
%br
%p
  3.2. Услуги предоставляются Заказчику в объеме, соответствующем сумме произведенной им предоплаты. Исполнитель оставляет за собой право немедленно расторгнуть Договор в одностороннем порядке в случае, если стоимость услуг, оказанных Исполнителем по Договору, стала равной или превысила сумму, оплаченную Заказчиком в качестве предоплаты за оказание услуг.
  3.4. В случае если материалы предоставлены Заказчиком с нарушением правил и требований настоящей Оферты, Исполнитель вправе отказать в размещении их.
  3.5. Исполнитель не несет ответственности за несанкционированное использование данных предоставленных Заказчиком третьими лицами.
%br
%h3  
  4. Права и обязанности сторон
%br
%p  
  4.1. Исполнитель обязуется:
  4.1.1. Размещать материалы Заказчика на сайте http://www.айжкх.рф в течение срока действия Договора, за исключением периодов приостановления оказания услуг, предусмотренных Офертой.
  4.1.2. В случае досрочного отказа Заказчика от исполнения Договора по основаниям, предусмотренным Офертой, возвратить Заказчику по его письменному требованию сумму предоплаты за вычетом стоимости фактически оказанных Исполнителем услуг к моменту расторжения Договора. Возврат осуществляется в течение десяти рабочих дней с момента расторжения Договора.
%br
%p 
  4.2. Исполнитель имеет право:
  4.2.1. Временно приостановить оказание Заказчику услуг по Договору по техническим, технологическим или иным причинам, препятствующим оказанию услуг, на время устранения таких причин. Плата за услуги в течение срока, на который Исполнителем было приостановлено оказание услуг, в этих случаях не взимается.
  4.2.2. Приостановить оказание услуг по Договору в одностороннем внесудебном порядке при нарушении Заказчиком иных обязательств, принятых в соответствии с Офертой.
  4.2.4. Вносить изменения в Оферту в установленном Офертой порядке.
%br
%p
  4.3. Заказчик обязуется:
  4.3.1. Оплачивать услуги Исполнителя в соответствии с условиями Оферты.
  4.3.2. Предоставлять материалы с соблюдением правил и требований Оферты.
  4.3.3. Принимать услуги, оказанные Исполнителем.
%br
%p
  4.4. Заказчик имеет право:
  4.4.1. Временно приостановить размещение материалов на сайте http://www.айжкх.рф.
%br
%h3
  5. Стоимость услуг и порядок расчетов
%br
%p 
  5.1. Стоимость услуг, оказанных Исполнителем по Договору, определяется согласно прайс-листу, размещенному на сайте http://www.айжкх.рф.
  5.2. Цены, устанавливаемые Исполнителем, могут быть изменены последним в любое время. Новые цены вступают в силу с момента опубликования, если иной срок вступления новых цен в силу не определен дополнительно при их опубликовании.
  5.3. Отчетный период оказания услуг устанавливается в пределах календарного месяца.
  5.4. Оплата Услуг производится Заказчиком в порядке предварительной оплаты в размере 100% суммы счета.
  5.5. Все расчеты по Договору производятся в рублях РФ.
%br
%h3
  6. Акцепт оферты и заключение договора
%br
%p
  6.1. Заказчик производит Акцепт Оферты путем оплаты услуг Исполнителя в отношении которых заключается Договор, с учетом условий статьи 5 Оферты.
  6.2. Срок Акцепта составляет 5 (пять) рабочих дней с момента подтверждения Исполнителем возможности размещения объявления с выбранными параметрами.
%br
%h3
  7. Срок действия и изменение условий оферты
%br
%p
  7.1. Оферта вступает в силу с момента опубликования по адресу Исполнителя и действует до момента отзыва Оферты Исполнителем.
  7.2. Исполнитель оставляет за собой право внести изменения в условия Оферты или отозвать Оферту в любой момент по своему усмотрению.
%br
%h3
  8. Срок действия и изменение договора
%br
%p
  8.1. Акцепт Оферты Заказчиком создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.
  8.2. Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует:
  а) до момента исполнения Исполнителем обязательств по оказанию услуг в объеме, соответствующем размеру произведенной Заказчиком по Договору предоплаты.
%br
%h3
  9. Ответственность.
%br
%p
  9.1. За неисполнение или ненадлежащее исполнение своих обязательств по Договору Стороны несут ответственность в соответствии с действующим законодательством РФ.
  9.2. Заказчик самостоятельно несет всю ответственность за:
  а) соблюдение требований законодательства, в том числе законодательства о рекламе, о защите авторских и смежных прав, об охране товарных знаков и знаков обслуживания, о защите прав потребителей;
  б) достоверность сведений, указанных им при производстве Акцепта.
  9.3. Исполнитель не несет никакой ответственности по Оферте за:
  а) какие-либо действия, являющиеся прямым или косвенным результатом действий Заказчика;
  б) какие-либо убытки Заказчика вне зависимости от того, могли, Исполнитель предвидеть возможность таких убытков или нет;
  9.4. Совокупная ответственность Исполнителя по Договору ограничивается суммой платежа, уплаченного Исполнителю Заказчиком по Договору.
  9.5. Не вступая в противоречие с указанным выше, Исполнитель освобождается от ответственности за нарушение условий Договора, если такое нарушение вызвано действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти (в т. ч. принятие правовых актов), пожар, наводнение, землетрясение, другие стихийные бедствия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые могут повлиять на исполнение Исполнителем Договора.
%br
%h3
  10. Прочие условия
%br
%p
  10.1. Договор, его заключение и исполнение регулируется в соответствии с действующим законодательством Российской Федерации. Если споры между Заказчиком и Исполнителем в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством.
  10.2. Не вступая в противоречие с условиями Оферты, Заказчик и Исполнитель вправе в любое время оформить Договор на оказание Услуг в форме письменного двухстороннего документа.
