<h1>Профиль фрилансера</h1>

<div>
      <% if @freelancer %>
		<p><%= @freelancer.name %></p>
		<p><%= @freelancer.surname %></p>
		<p><%= @freelancer.phone_number %></p>
		<p><%= @freelancer.published %></p>
      <% end %>
</div>
