<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Аналитика</p>
</div>

<div class="container_boxes">
	<div class="horizontal_div" style="width: 100%; float: none;">
		<div class="box_blue" id="" style="min-height:245px;width:100%">

	 	</div>
	</div>
</div>