<h1>О компании</h1>
<div id="left_bar">
<p>Основное направление деятельности компании АйЖКХ — разработка и реализация проектов, автоматизирующих систему оплаты коммунальных услуг.</p>

<p>Выполняя свою работу, дружный коллектив компании стремится сделать жизнь своих клиентов удобнее и интереснее, наполнив ее современными технологиями: многофункциональными приложениями на платформе iOS и Android.</p>
<br><br>


<div class="row">

	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/vasiliev.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Андрей Васильев</strong><br>
		<i>Основатель компании</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>

	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/roman.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Роман Карпенко</strong><br>
		<i>Директор</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>

<!-- 	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/polina.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Полина Журавлёва</strong><br>
		<i>Бизнес-консультант</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>
 -->

	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/mihailv.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Михаил Мунаев</strong><br>
		<i>Руководитель группы разработки</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>


	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/Alya_mini.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Алевтина Юсова</strong><br>
		<i>Руководитель группы по работе с клиентами</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>
	

	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/karina.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Карина Вольская</strong><br>
		<i>Менеджер по работе с клиентами</i><br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>
	

	
	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/lilia.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Юмаева Лилия</strong><br>
		<i>Менеджер по работе с клиентами  в г.Сызрань</i><br>
		тел. 8-927-705-91-36<br>
		email: <a href="mailto:yumaeva@izkh.ru" target="_top">yumaeva@izkh.ru</a> <br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>

<!--	<div class="span7">
		<div class="span2">
		<img src="http://xn--80amif9c.xn--p1ai/assets/img/anton.png" class="img-rounded">
		</div>
		<div class="span4">
		<address>
		<strong>Рябов Антон</strong><br>
		<i>Менеджер по работе с клиентами  в г.Тольятти</i><br>
		тел. 8-927-268-76-05<br>
		email: <a href="mailto:ryabov@izkh.ru" target="_top">ryabov@izkh.ru</a> <br>
		</address>
		</div>  

		<div class="span7"><br></div>
	</div>
-->
</div>
</div>