<h1>Размещение рекламы на сайте</h1>
<h2>Уважаемые рекламодатели!</h2>
<p>	С 01 декабря 2013 компания ООО «АйЖКХ» предлагает новую услугу – размещение рекламы на сайте. </p>
<p>Почему именно у нас? Потому что у нас большая аудитория и спрос на услуги платежных систем неизменно растет. </p>
<p>Это отличная возможность рекламироваться для тех, кто ищет для рекламы серьезный и посещаемый ресурс. Вы достойны быть замеченным.</p>
<p>Телефоны отдела рекламы: (846) 373-64-10; 373-64-11;</p>
<br /><br/>
<p>Схема размещения баннеров на сайте и их стоимость:</p>
<br />
<a href="assets/banners.png"><img src="assets/banners.png" width="300" alt="Схема расположения баннеров на сайте"></a>