<h1>Электронное ЖКХ</h1>
<h2>Уважаемые председатели ТСЖ и ЖСК! </h2>
<p>Наша компания с 1 декабря 2013 года ввела новую услугу - заполнение данных в информационной 
	системе "Единая информационно-поисковая система жилищного фонда в Самарской области 
	"Электронное ЖКХ". </p>
<p>По всем вопросам заключения договоров на оказание услуг можете обращаться 
	по телефонам: (846)373-64-11, 373-64-10. <p>
<p>Напоминаем, что согласно Постановления Правительства РФ №1468 от 28.12.2012 г., Постановления 
	Правительства РФ №731 от 23.09.2010 г., Постановления Правительства Самарской области №703 от 
	03.12.2012 ТСЖ и ЖСК обязаны внести и регулярно обновлять информацию в АИС "Мониторинг 
	жилищного фонда". </p>
	<p>За нарушение вышеперечисленных Постановлений, согласно статьи 7.23.1 КоАП РФ, на организацию, 
	а также на должностное лицо накладывается штраф в размере 250 000- 300 000 рублей и 30 000-50 
	000 рублей соответственно.</p>
<br>

	<!-- <p><a href="/files/tariffs.xls">Тарифы и поставщики</a></p> -->

	<p>
		<a href="https://www.dropbox.com/s/ibllfn6seg4w8x3/%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B8.doc">Договор на оказание услуг</a>
	</p>

	<p>
		<a href="https://www.dropbox.com/s/fsuo7rl0fnn3jzp/%D0%BF%D1%80%D0%B0%D0%B9%D1%81%20%D0%B5%D0%96%D0%9A%D0%A5.docx">
		Прайс еЖКХ</a>
	</p>

	<p>
		<a href="https://www.dropbox.com/s/uqxb4un6g51pyo4/%D0%BF%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%201486.pdf">
		Постановление Правительства Российской Федерации от 28 декабря 2012 г. N 1468
		</a>
	</p>

	<p>
		<a href="https://www.dropbox.com/s/uqxb4un6g51pyo4/%D0%BF%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%201486.pdf">
		Постановление Правительства Российской Федерации от 23 сентября 2010 г. N 731
		</a>
	</p>
	
	<p>
		<a href="https://www.dropbox.com/s/vu0dgl47xvckl4a/%D0%9F%D0%9F%20%D0%A0%D0%A4%20703.docx">Постановление Правительства Самарской области от 3 декабря 2012 г. N 703</a>
	</p>

	<p>
		<a href="https://www.dropbox.com/s/6g1d6u7zw8bqz5a/%D0%A1%D1%82%D0%B0%D1%82%D1%8C%D1%8F%20%D0%9A%D0%BE%D0%90%D0%9F%207.23.1.rtf">
		Статья КОАП 7.23.1. "Нарушение требований законодательства о раскрытии информации организациями..."</a>
	</p>

	<style>
		p
		{
			margin-top: 7px;
		}
	</style>