<h2>Уважаемые председатели ТСЖ и ЖСК! </h2>
<p>Наша компания с 1 декабря 2013 года ввела новую услугу - заполнение данных в информационной 
	системе "Единая информационно-поисковая система жилищного фонда в Самарской области 
	"Электронное ЖКХ". </p>
<p>По всем вопросам заключения договоров на оказание услуг можете обращаться 
	по телефонам: (846)373-64-11, 373-64-10. <p>
<p>Напоминаем, что согласно Постановления Правительства РФ №1468 от 28.12.2012 г., Постановления 
	Правительства РФ №731 от 23.09.2010 г., Постановления Правительства Самарской области №703 от 
	03.12.2012 ТСЖ и ЖСК обязаны внести и регулярно обновлять информацию в АИС "Мониторинг 
	жилищного фонда". </p>
	<p>За нарушение вышеперечисленных Постановлений, согласно статьи 7.23.1 КоАП РФ, на организацию, 
	а также на должностное лицо накладывается штраф в размере 250 000- 300 000 рублей и 30 000-50 
	000 рублей соответственно.</p>
<br>
	<p><a href="/files/tariffs.xls">Тарифы и поставщики</a></p>
	<p><a href="/files/Договор услуги.doc">Договор на оказание услуг</a></p>
	<p><a href="/files/ПП РФ 703.docx">Постановление правительства Самарской области от 3 декабря 2012 г. N 703</a></p>