<h1>Инвесторам</h1>
<p>Компания АйЖКХ заинтересована в развитии проекта в федеральном масштабе
для реализации этой цели , необходимо дополнительное финансирование на разработку нового программного обеспечения , новых "фишек" функционала мобильного приложения , продвижения на рынке e-commerce </p>

<p>ООО «АйЖКХ» занимает уверенные позиции в Самарской области по IT - инновациям в сфере ЖКХ. АйЖКХ – разработчик и сервис нового поколения , сумевший соединить функционал оплаты и учета денежных и коммунальных ресурсов , интерактивных сервисов и сервисов в сфере обслуживания жилых объектов «АйЖКХ» открыто для  диалога с инвесторами.  </p>

<p>Общество предоставит всю необходимую информацию о своей деятельности только после подписания соглашения о неразглашении коммерческой тайны. </p>
<br>
<p><b>Контактная информация </b></p>
<p>Полное наименование: ООО «АйЖКХ»  </p>
<p>Контакты для инвесторов: </p>
<p>Андрей Васильев  </p>
<p>Телефон: +79276928383 </p>
<p>Адрес электронной почты: vasyliev@izkh.ru </p>

