<h1>Партнёрам</h1>
<div id="left_bar"><p>Компания АйЖКХ предлагает взаимовыгодное сотрудничество, основанное на надежных партнерских отношениях.
Приглашаем к совместной деятельности:</p>

<ul style="margin-left: 30px;margin-top: 10px;margin-bottom: 10px;">
  <li>ТСЖ, ЖСК</li>
  <li>Поставщиков коммунальных услуг</li>
  <li>Компании, производящие замену электросчетчиков, счетчиков воды и газа</li>
  <li>Строительно-ремонтные организации</li>
  <li>Охранные предприятия и компании по обслуживанию домофонов, лифтов</li>
  <li>Интернет-провайдеров и операторов кабельного телевидения</li>
  <li>Агентства недвижимости</li>
  <li>Банки</li>
</ul>


<p>Если у Вас есть интересные идеи, подходящие под формат нашего проекта, мы готовы к плодотворному сотрудничеству.</p>
<p>Рассмотрим предложения по размещению рекламы и информации о Вас на нашем сайте АйЖКХ.рф и в приложении АйЖКХ на платформе iOS, Android.</p></div>