 <p>Здравствуйте, <%= @resource.first_name %>!</p>

<p>Для Вашего аккаунта поступил запрос об изменении пароля. Вы можете изменить его по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не оставляли заявку, пожалуйста, проигнорируйте это письмо.</p>
<p>В этом случае Ваш пароль останется прежним.</p>
