$(".reg_freeze").prop('disabled', true);
$(".accept_data_button").prop('disabled', true);
$(".reg_place").prop('disabled', false);
$(".accept_place_button").prop('disabled', false);
$(".last").html(' <a href="logout">ВЫЙТИ</a> ');
popUpRender('<%= @message %>');
window.location.replace('/profile');