				<div class="top_plate">
					<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
					<p class="text_plate_blue">Оферта</p>
				</div>
				<div class="ofertaindasite_container">
					<div class="oferta_some_text">
<p style="text-align:center">ОФЕРТА</p>
<p style="text-align:center">на оказание услуг по проведению с использованием банковских
 пластиковых карточек платежей в сети Интернет</p>

<p>Настоящая публичная оферта (далее – Оферта), в соответствии с п. 2 ст. 437 Гражданского Кодекса РФ является публичной офертой Общества с ограниченной ответственностью «АйЖкх» (далее - Исполнитель) на оказание услуг по проведению операций приема платежей через интернет с использованием платежных карт, любым физическим лицом (далее Плательщик). В случае акцепта (принятия) оферты Плательщиком он считается заключившим с Исполнителем договор оказания Услуг на условиях, предусмотренных настоящей Офертой (далее — «Договор»).</p>

<p>	1.ОБЩИЕ ПОЛОЖЕНИЯ</p>
<p>1.1. Услуги в соответствии с настоящей Офертой предоставляются исключительно Плательщикам, являющимся физическими лицами, зарегистрированными в установленном порядке на территории Российской Федерации.</p>
<p>1.2. Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения настоящего договора.</p>
<p>1.3. Плательщик гарантирует, что все условия настоящего Договора ему понятны, и он принимает их безусловно и в полном объёме.</p>
<p>1.4. Настоящая оферта считается акцептованной Плательщиком, а Договор между Исполнителем и Плательщиком заключенным с момента получения подтверждения о принятии условий данной оферты.</p> 
<p>1.5. Плательщик, принимающий условия настоящей оферты, дает свое согласие на осуществление Исполнителем приема платежей через интернет с использованием платежных карт и перечисление данных платежей Поставщикам.</p>
<p>1.6. Основные понятия:</p>
<p>Поставщик – юридическое лицо, за исключением кредитной организации, или индивидуальный предприниматель, получающие денежные средства плательщика за реализуемые товары (выполняемые работы, оказываемые услуги), а также юридическое лицо или индивидуальный предприниматель, которым вносится плата за жилое помещение и коммунальные услуги в соответствии с Жилищным кодексом Российской Федерации, а также органы государственной власти и органы местного самоуправления, бюджетные учреждения, находящиеся в их ведении, получающие денежные средства плательщика в рамках выполнения ими функций, установленных законодательством РФ. Перечень Поставщиков приведен в Приложении №1.</p>
<p>Плательщик – физическое лицо, осуществляющее оплату  денежных обязательств перед Поставщиком, и не связанных с осуществлением физическими лицами предпринимательской деятельности и частной практики.</p>
<p>«VISA International» - международная Платежная система.</p>
<p>«Master Card Worldwide» - международная Платежная система.</p>
<p>Платеж –  денежная сумма, подлежащая оплате в целях исполнения денежных обязательств физического лица перед Поставщиком, и не связанных с осуществлением физическими лицами предпринимательской деятельности и частной практики.</p>
<p>Поддержка системы часто повторяющих платежей – автоматическое списание с карты плательщика в пользу поставщика товаров и/или услуг по установленному владельцем карты расписанию.</p>
<p>Отмена Платежа  - аннулирование операции приема Платежа, совершенного через WEB-сайт.</p>
<p>Операционный день  - промежуток времени с 00:00 до 23:00 текущего календарного дня (время московское), включая выходные и праздничные дни.</p>

<p>2. Предмет договора.</p>
<p>2.1. Предметом настоящего Договора является предоставление  Плетельщику возможности проведения платежей в сети Интернет с применением реквизитов пластиковой банковской карточки (далее банковская карта) VISA International и Master Card Worldwide.</p>

<p>3. Момент заключения договора.</p>
<p>3.1.  Настоящий Договор считается заключенным в момент акцепта Плательщика оферты Исполнителя.</p>
<p>3.2. Акцептом оферты, то есть согласием Плательщика заключить настоящий Договор, является получение Исполнителем подтверждения о принятии условий настоящего договора.</p>

<p>4. Права и обязанности Исполнителя.</p>
<p>4.1. Исполнителя обязан:</p>
<p>4.1.1. Принять от Плательщика платеж, осуществляемый с использованием Банковских карт через WEB-сайт, вносимый в целях исполнения денежных обязательств Плательщика перед Поставщиком.</p>
<p>4.1.2. Обеспечить своевременное предоставление Поставщику полной и достоверной информации о принятом от Плательщика Платеже и обеспечить перечисление платежа Поставщику в порядке, установленном настоящим договором.</p>
<p>4.1.3. Выдать Плательщику документ, подтверждающий платеж.</p>
<p>4.1.4. Обеспечивать конфиденциальность и безопасность персональных данных граждан при их обработке.</p>
<p>4.1.5. Предоставить на WEB-сайте  следующую информацию:</p>
<p>информацию о перечне карт, с использованием которых производится прием Платежей;</p>
<p>информацию о порядке приема Платежей с использованием карт;</p>
<p>информацию о Поставщиках, в отношении которых Исполнитель производит прием платежей;</p>
<p>информацию о порядке отмены (аннулирования) Платежа, совершенного с использованием карты;</p>
<p>информацию о контактных данных  (телефон, юридический/почтовый адрес, адрес электронной почты).</p>
<p>4.1.6. После осуществления Платежа с использованием карты в на WEB-сайт Исполнителя предоставляется следующая информация о проведенной операции, а  также обеспечивает возможность печати данной информации Плательщиком:</p>

<p>наименование WEB-сайта, через который  осуществляется Платеж;</p>
<p>адрес WEB-сайта, через который  осуществляется Платеж; </p>
<p>номер Платежа; </p>
<p>дата Платежа;</p>
<p>сумма Платежа;</p>
<p>имя клиента;</p>
<p>код авторизации;</p>
<p>наименование/описание Платежа, совершенного при помощи карты;</p>

<p>4.1.8. Процедура отмены платежа:</p>
<p>Плательщик направляет Исполнителю любым доступным способом  уведомление об отмене платежа. В уведомлении должно быть указано: дата, сумму платежа, Поставщик, причина отмены.</p>
<p>Операция отмены Платежа может производиться только в течение операционного дня, в который Плательщиком был совершен Платеж.  После завершения данного операционного дня проведение операций отмены Платежей не разрешается.</p>
<p>Отмена Платежа, совершенного с использованием карты, может быть произведена только на всю сумму Платежа. Частичная отмена суммы Платежа не допускается.
В случае успешного завершения процедуры отмены Платежа Исполнитель предоставляет Плательщику на WEB-сайте информацию, подтверждающую факт отмены Платежа, с указанием номера Платежа, суммы Платежа и даты отмены Платежа, а  также обеспечивает возможность печати данной информации Плательщиком.</p>
<p>4.1.9. Исполнитель обязан обеспечить хранение информации по операциям приема Платежей/отмены Платежей, совершенным с использованием карт через WEB-сайт Исполнителя, в течение 5 лет с момента совершения операции.</p>

<p>4.2. Исполнитель вправе:</p>
<p>4.2.1.Требовать от Плательщика  предоставления информации, необходимой для выполнения его поручения, в том числе персональных данных.</p>
<p>4.2.2. Исполнитель вправе изменять условия настоящей Оферты в одностороннем порядке. Датой вступления в силу изменений настоящей Оферты является дата их опубликования на Сайте.</p>
<p>Плательщик обязан самостоятельно регулярно знакомиться с действующей редакцией Оферты, размещенной на Сайте. Пользование Услугами после вступления в силу изменений Оферты означает согласие Плательщика со всеми изменениями Оферты.</p>

<p>5. Права и обязанности Плательщика.</p>
<p>5.1. Плательщик обязан:
<p>5.1.1. При осуществлении Платежа предоставить Исполнителю полную и достоверную информацию, необходимую для выполнения поручения Исполнителем по настоящему договору, в том числе персональные данные (включая сведения, необходимые для проведения идентификации Плательщика в соответствии с требованиями HYPERLINK "garantf1://12023862.0/"законодательства Российской <p>Федерации о противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма).Плательщик подтверждает достоверность вводимых им  на WEB-сайт своих данных и принимает на себя всю ответственность за их точность, полноту и достоверность.</p>
<p>5.2. Плательщик вправе:</p>
<p>5.2.1. Требовать от Исполнителя информации о проведенных платежах/отмены платежей, а также обеспечение возможности печати данной информации.</p>
<p>6. Ответственность сторон.</p>
<p>6.1. За неисполнение или ненадлежащее исполнение условий договора стороны несут ответственность в соответствии с законодательством РФ.</p>
<p>6.2. Исполнитель не несёт ответственности за не перечисление Платежа при сообщении Плательщиком неполной и/или недостоверной информации в отношении платежа.</p>
<p>6.3. Исполнитель не несет ответственности за последствия при неправильном заполнении Исполнителем на   WEB-сайте своих данных.</p>

<p>7. Оплата по договору.</p>
<p>7.1. За выполнение поручения Плательщика, предусмотренного настоящим договором, Плательщик обязан уплачивать Исполнитель комиссию в размере ____% от суммы платежа. Указанная сумма взымается только в том случае, если у Исполнителя и поставщика не заключен договор на прием платежей.</p>
<p>7.2. При наличии заключенного договора на оказание услуг по приему платежей между Плательщиком и Поставщиком, комиссия за прием платежей с Плательщика не взимается.</p>
<p>.3. Исполнитель размещает информацию на WEB-сайте о Поставщиках, с указанием информации о взимании комиссии по конкретному Поставщику.</p>

<p>8. Срок действия договора.</p>
<p>8.1. Настоящий договор вступает в действие с момента акцепта настоящей оферты Плательщиком путем совершения действий по выполнению указанных в ней условий договора и действует до полного исполнения сторонами принятых на себя обязательств, или отзыва оферты.</p>

<p>9. Особые условия.</p>
<p>9.1.  Споры, возникающие между сторонами при заключении, исполнении, прекращении договора подлежат урегулированию в претензионном порядке. Срок рассмотрения претензии – 10 рабочих дней с момента ее получения Стороной. При не достижении согласия любая из сторон вправе обратиться в суд.</p>
<p>9.2. По вопросам, неурегулированным настоящим договором, стороны руководствуются действующим законодательством.</p>
<p>9.3. Акцепт настоящей оферты означает безусловное согласие Плательщика на обработку ООО «АйЖкх», его персональных данных (в том числе фамилия, имя, отчество, номер паспорта, сведения о выдавшем паспорт органе, о дате выдачи паспорта, сведения о месте регистрации и месте жительства, номера лицевых счетов и договоров, состояние лицевых счетов), предоставляемых Плательщиком ООО «АйЖкх» в целях предоставления услуг, в целях направления Плательщику  сообщений информационного и рекламного характера. Акцепт оферты означает согласие Плательщика  на совершение ООО «АйЖкх» операций по сбору, систематизации, накапливанию, хранению, уточнению (обновлению, изменению), использованию, распространению (в том числе передаче третьим лицам), обезличиванию, блокированию и уничтожению в отношении его персональных данных, на использование при обработке  персональных данных  автоматизированного, механического, ручного и любого иного способа по своему усмотрению. Акцепт настоящей оферты также подтверждает безусловное согласие Плательщика с тем, что полнота, достоверность и точность информации, предоставленной Плательщиком, может быть проверена ООО «АйЖкх».</p>
<p>Данное согласие может быть в любой момент отозвано Плательщиком  путем предоставления заявления об отзыве согласия на обработку его персональных данных. Настоящее согласие на обработку персональных данных предоставлено на срок, до отзыва Плательщиком согласия на обработку персональных данных.</p>

<p>АДРЕС И БАНКОВСКИЕ РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</p>

<p>Адрес: 443090, г. Самара, ул. Советской Армии, д.180, строение 1, </p>
<p>ИНН 6316180907 КПП 631601001</p>
<p>ОГРН 1126316010490</p>
<p>Р/сч. 40702810005000005233</p>
<p>в филиале «ТрансКредитБанка» г. Самара, БИК 043601976 К/сч.30101810300000000976</p>
<br>
<br>
<br>
						</div>
				</div>