<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">О Компании</p>
</div>

<div class="container_boxes">
<div class="horizontal_div" style="width: 100%; float: none;"><div class="box_blue" id="" style="min-height:245px;width:100%;padding-top: 23px;">
<p><a href="/uploads/izkh_presentation.pdf" style="font: inherit;padding-left: 50px;color: rgb(4, 91, 202); text-decoration:underline;">
Презентация компании АйЖКХ(pdf)
</a></p>

<p>
<a href="#" id="company_info_link" onclick="$('div#company_info_box').slideToggle('');">Показать реквизиты компании</a> 
</p>

<div id="company_info_box" style="display: none;">
<table id="table_info" border="0" cellspacing="1" cellpadding="1" style="margin: 25px 0px 0px 50px;">
 <tbody><tr>
  <td> <p>Полное наименование организации </p> </td>
  <td> <p>Общество с ограниченной ответственностью "АйЖКХ"</p> </td>
 </tr>
 <tr>
  <td> <p>Сокращённое наименование организации</p> </td>
  <td> <p>ООО "АйЖКХ"</p> </td>
 </tr>
 <tr>
  <td> <p>ОГРН</p> </td>
  <td> <p>1126316010490</p> </td>
 </tr>
 <tr>
  <td> <p>ИНН</p> </td>
  <td> <p>6316180907</p> </td>
 </tr>
 <tr>
  <td> <p>КПП</p> </td>
  <td> <p>631601001</p> </td>
 </tr>
 <tr>
  <td> <p>Юридический адрес</p> </td>
  <td> <p>443090 г. Самара ул. Советской Армии д.180 стр.1</p> </td>
 </tr>
 <tr>
  <td> <p>Фактический адрес</p> </td>
  <td> <p>443090 г. Самара ул. Советской Армии д.180 стр.1</p> </td>
 </tr>
 <tr>
  <td> <p>Телефон и факс по фактическому адресу</p> </td>
  <td> <p>(846) 3736410;  (846) 3736410 </p> </td>
 </tr>
 <tr>
  <td> <p>Полное наименование учреждения банка </p> </td>
  <td> <p>Акционерный коммерческий банк "ТРАНСКАПИТАЛБАНК" (Закрытое акционерное общество)
Самарский филиал.
</p> </td>
 </tr>
 <tr>
  <td> <p> Расчётный счёт</p> </td>
  <td> <p> 40702810800900000889 </p> </td>
 </tr>
 <tr>
  <td> <p>Корреспондентский счёт</p> </td>
  <td> <p>30101810000000000875</p> </td>
 </tr>
 <tr>
  <td> <p>БИК</p> </td>
  <td> <p>043602875</p> </td>
 </tr>
 <tr>
  <td> <p>Код отрасли по ОКВЭД</p> </td>
  <td> <p>52.61.2; 52.48;70.20; 72.20; 72.30; 72.40; 72.60; 74.40; 74.84; 93.05; </p> </td>
 </tr>
 <tr>
  <td> <p>Код организации по ОКПО</p> </td>
  <td> <p> 20637248 </p> </td>
 </tr>
 <tr>
  <td> <p>ФИО Директора</p> </td>
  <td> <p>Карпенко Роман Николаевич</p> </td>
 </tr>
 <tr>
  <td></p> </td>
  <td></p> </td>
 </tr>
 <tr>
  <td></p> </td>
  <td></p> </td>
 </tr>
</tbody></table>
</div>

<p style="padding: 0px 0px 30px 50px;">
  Больше информации <a href="http://xn--80amif9c.xn--p1ai/" style="text-decoration:underline;">здесь.</a>
</p>

 	</div>



 </div>
</div>