				<div class="top_plate">
					<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
					<p class="text_plate_blue">Оплата счетов</p>
				</div>
				<div class="container_boxes">
					<div class="horizontal_div">
						<div class="box_left box_blue">
							<div class="data_box_top">
								<p>Выберите объект</p>
							</div>
							<div class="pay_text">
							<% if @places != [] %>
								<% @places.each do |place| %>
									<%= link_to place.title, "/get_service/#{place.id}", remote: true, method: :post, class: "object" %>
								<% end %>
							<% end %>
							</div>
							
						</div>
						<div class="box_right box">
							<div class="data_box_top">
								<p>Услуга(Поставщик)</p>
							</div>
							<div class="service_pay_block">
								<%= render 'web_interface/shared/service_list'%>
							</div>
						</div>
					</div>
					<div class="horizontal_div">
							<div class="box_left box_blue" id="tariff_selected_box">
								<%= render 'web_interface/shared/payment_form'%>
							</div>
					</div>

					<div class="horizontal_div">

							<div class="box_left box_blue" id="meter_reading_box" style="display:none;">
							</div>

					</div>



				</div>