			<div class="container_oferta">
				<div class="logo_top_oferta"></div>
				<div class="oferta_box">
					<div class="oferta_btm_oferta"></div>
					<div class="oferta_form_texts">
						<div><p>Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p></div>
						<div class="blue_text"><p>Договор-оферта</p></div>
					</div>
					<div class="oferta_main_text">
						<div class="oferta_some_text">
<p style="text-align:center">ОФЕРТА</p>
<p style="text-align:center">на оказание услуг по проведению с использованием банковских
 пластиковых карточек платежей в сети Интернет</p>
<p class="p2"><b></b><br></p>
<p class="p4">Настоящая публичная оферта (далее – Оферта), в соответствии с п. 2 ст. 437 Гражданского Кодекса РФ является публичной офертой Общества с ограниченной ответственностью «АйЖкх» (далее - Исполнитель) на оказание услуг по проведению операций по доступу к сервису по приему и перечислению платежей через WEB-сайт и/или мобильное приложение с использованием безналичных средств. (Далее – Услуга), любым физическим лицом (далее Плательщик). </p>
<p class="p4"><b>Основные понятия:</b></p>
<p class="p4"><b>1.1.</b> <b>Договор </b>- настоящая Оферта акцептованная Плательщиком.</p>
<p class="p4"><b>1.2.</b> <b>Поставщик</b> – юридическое лицо, за исключением кредитной организации, или индивидуальный предприниматель, получающие денежные средства плательщика за реализуемые товары (выполняемые работы, оказываемые услуги), а также юридическое лицо или индивидуальный предприниматель, которым вносится плата за жилое помещение и коммунальные услуги в соответствии с Жилищным кодексом Российской Федерации, а также органы государственной власти и органы местного самоуправления, бюджетные учреждения, находящиеся в их ведении, получающие денежные средства плательщика в рамках выполнения ими функций, установленных законодательством РФ. Перечень Поставщиков приведен в Приложении №1.</p>
<p class="p4"><b>1.3.</b> <b>Плательщик </b>– физическое лицо, осуществляющее оплату денежных обязательств перед Поставщиком, и не связанных с осуществлением физическими лицами предпринимательской деятельности и частной практики.</p>
<p class="p4"><b>1.4.</b> <b>Акцепт договора</b> – момент регистрации Плательщика на WEB-сайте и/или мобильном приложении.</p>
<p class="p4"><b>1.5.</b> <b>Безналичные средства</b> – пластиковые карты, Яндекс-деньги, Qiwi-кошелек. </p>
<p class="p4"><b>1.6. «VISA International»</b> - международная Платежная система.</p>
<p class="p4"><b>1.7.</b> <b>«Master Card Worldwide» </b>- международная Платежная система.</p>
<p class="p4"><b>1.8.</b> <b>Платеж</b> – сумма денежных средств, подлежащая оплате в целях исполнения обязательств физического лица перед Поставщиком, и не связанный с осуществлением физическим лицом предпринимательской деятельности и частной практики.</p>
<p class="p4"><b>1.9.</b> <b>Поддержка системы часто повторяющих платежей</b> – автоматическое списание с карты плательщика в пользу поставщика товаров и/или услуг по установленному владельцем карты расписанию.</p>
<p class="p4"><b>1.10.</b> <b>Отмена Платежа</b> - аннулирование операции приема Платежа, совершенного через WEB-сайт.</p>
<p class="p4"><b>1.12.</b> <b>Операционный день</b> - промежуток времени с 00:00 до 23:00 текущего календарного дня (время московское), включая выходные и праздничные дни.</p>
<p class="p4"><br></p>
<p class="p1"><b>2.Общие положения.</b></p>
<p class="p2"><br></p>
<p class="p4"><b>2.1.</b> Услуга в соответствии с настоящей Офертой предоставляется исключительно Плательщикам, являющимся физическими лицами, зарегистрированными в установленном порядке на территории Российской Федерации.</p>
<p class="p4"><b>2.2.</b> Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения Договора.</p>
<p class="p4"><b>2.3.</b> Плательщик гарантирует, что все условия Договора ему понятны, и он принимает их безусловно и в полном объёме.</p>
<p class="p4"><br></p>
<p class="p1"><b>3. Предмет договора.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>3.1.</b> Предметом Договора является предоставление Плательщику возможности проведения безналичных платежей через WEB-сайт и/или мобильное приложение. </p>
<p class="p4"><b>3.2.</b>  Настоящий Договор считается заключенным в момент акцепта Плательщика оферты Исполнителя.</p>
<p class="p4"><br></p>
<p class="p1"><b>4. Права и обязанности Исполнителя.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>4.1. Исполнитель обязан:</b></p>
<p class="p4">4.1.1. Обеспечить условия, при которых банк осуществляет платежи. </p>
<p class="p4">4.1.2. Выдать Плательщику документ, подтверждающий платеж.</p>
<p class="p4">4.1.3. Обеспечивать конфиденциальность и безопасность персональных данных граждан при их обработке.</p>
<p class="p4">4.1.4. Предоставить на WEB-сайте и/или мобильном приложении следующую информацию:</p>
<p class="p4">информацию о перечне карт, с использованием которых производится прием Платежей;</p>
<p class="p4">информацию о Поставщиках, в отношении которых Исполнитель производит прием платежей;</p>
<p class="p4">информацию о порядке отмены (аннулирования) Платежа, совершенного с использованием карты;</p>
<p class="p4">информацию о контактных данных Исполнителя (телефон, юридический/почтовый адрес, адрес электронной почты).</p>
<p class="p4">4.1.5. После осуществления Платежа Плательщику предоставляется следующая информация о проведенной операции, а также обеспечивает возможность печати данной информации:</p>
<p class="p4">наименование WEB-сайта и/или мобильного приложения, через которые осуществился Платеж;</p>
<p class="p4">адрес WEB-сайта и/или мобильного приложения, через который осуществляется Платеж;</p>
<p class="p4">номер Платежа;</p>
<p class="p4">дата Платежа;</p>
<p class="p4">сумма Платежа;</p>
<p class="p4">имя Плательщика;</p>
<p class="p4">код авторизации;</p>
<p class="p4">наименование/описание Платежа, совершенного при помощи карты;</p>
<p class="p4">4.1.6. Исполнитель обязан обеспечить хранение информации по операциям приема Платежей через WEB-сайт и/или мобильное приложение Исполнителя, в течение 5 лет с момента совершения операции.</p>
<p class="p4"><b>4.2. Исполнитель вправе:</b></p>
<p class="p4">4.2.1. Изменять условия предоставления услуги в одностороннем порядке. Датой вступления в силу изменений является дата их опубликования на Сайте.</p>
<p class="p4">Плательщик обязан самостоятельно регулярно знакомиться с действующей редакцией Оферты, размещенной на Сайте. Пользование Услугами после вступления в силу изменений, внесенных в Оферту, означает согласие Плательщика со всеми изменениями..</p>
<p class="p4"><br></p>
<p class="p1"><b>5. Права и обязанности Плательщика.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>5.1. Плательщик обязан:</b></p>
<p class="p4">5.1.1. Предоставить Исполнителю достоверную информацию о  персональных данных (включая сведения, необходимые для проведения идентификации Плательщика в соответствии с требованиями законодательства Российской Федерации о противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма), а так же другую информацию, необходимую для идентификации платежа (номер договора, номер лицевого счета и т.п.). </p>
<p class="p4">Плательщик подтверждает достоверность вводимых им  на WEB-сайт и/или мобильное приложение своих данных и принимает на себя всю ответственность за их точность, полноту и достоверность.</p>
<p class="p4"><b>5.2. Плательщик вправе:</b></p>
<p class="p4">5.2.1. Требовать от Исполнителя информации о проведенных платежах, а также обеспечение возможности печати данной информации.</p>
<p class="p4"><br></p>
<p class="p1"><b>6. Ответственность сторон.</b></p>
<p class="p2"><br></p>
<p class="p4"><b>6.1.</b> За неисполнение или ненадлежащее исполнение условий договора стороны несут ответственность в соответствии с законодательством РФ.</p>
<p class="p4"><b>6.2.</b> Исполнитель не несет ответственности за последствия при неправильном заполнении Исполнителем на WEB-сайте и/или мобильном приложении своих данных.</p>
<p class="p4"><br></p>
<p class="p1"><b>7. Оплата по договору.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>7.1.</b> За оказанные услуги Плательщик обязан уплачивать Исполнителю комиссию. Размер комиссии варьируется в зависимости от Поставщика  и указывается в момент платежа.</p>
<p class="p4"><br></p>
<p class="p1"><b>8. Срок действия договора.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>8.1.</b> Настоящий договор вступает в действие с момента акцепта настоящей оферты Плательщиком и действует до полного исполнения сторонами принятых на себя обязательств.</p>
<p class="p4"><br></p>
<p class="p1"><b>9. Особые условия.</b></p>
<p class="p2"><b></b><br></p>
<p class="p4"><b>9.1.</b> Споры, возникающие между сторонами при заключении, исполнении, прекращении договора подлежат урегулированию в претензионном порядке. Срок рассмотрения претензии – 10 рабочих дней с момента ее получения Стороной. При не достижении согласия любая из сторон вправе обратиться в суд.</p>
<p class="p4"><b>9.2.</b> По вопросам, неурегулированным настоящим договором, стороны руководствуются действующим законодательством.</p>
<p class="p4">9.3. Акцепт настоящей оферты означает безусловное согласие Плательщика на обработку ООО «АйЖкх» (443090, г. Самара, ул. Советской Армии дом 180, стр. 1), его персональных данных (в том числе фамилия, имя, отчество, номер паспорта, сведения о выдавшем паспорт органе, о дате выдачи паспорта, сведения о месте регистрации и месте жительства, номера лицевых счетов и договоров, состояние лицевых счетов), предоставляемых в целях предоставления услуг, а также направления Плательщику сообщений информационного и рекламного характера. Акцепт оферты означает согласие Плательщика на совершение ООО «АйЖкх» операций по сбору, систематизации, накапливанию, хранению, уточнению (обновлению, изменению), использованию, распространению (в том числе передаче третьим лицам), обезличиванию, блокированию и уничтожению в отношении его персональных данных, на использование при обработке персональных данных автоматизированного, механического, ручного и любого иного способа по своему усмотрению. Акцепт настоящей оферты также подтверждает безусловное согласие Плательщика с тем, что полнота, достоверность и точность информации, предоставленной Плательщиком, может быть проверена ООО «АйЖкх».</p>
<p class="p4">Данное согласие может быть в любой момент отозвано Плательщиком путем предоставления заявления об отзыве согласия на обработку его персональных данных. Настоящее согласие на обработку персональных данных предоставлено на срок, до отзыва Плательщиком согласия на обработку персональных данных.</p>
<p class="p4"><br></p>
<p class="p5">АДРЕС И БАНКОВСКИЕ РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</p>
<p class="p5">Адрес: 443090, г. Самара, ул. Советской Армии, д.180, строение 1. </p>
<p class="p5">ИНН 6316180907 КПП 631601001</p>
<p class="p5">ОГРН 1126316010490</p>
<p class="p5">Р/сч. 40702810800900000889</p>
<p class="p5">в филиале «ТРАНСКАПИТАЛБАНК» г. Самара, БИК 043602875</p>
<p class="p5"> К/сч. 30101810000000000875</p>
<br>
<br>
<br>


						</div>
						<div class="next_to_reg">
							<label><input id="some_input_oferta" type="checkbox"><span class="login_input_check_oferta"><p>Я согласен с условиями оферты и хочу зарегистрироваться</p></span></input></label>
							<div class="oferta_link_disable"></div>
							<%= link_to "Приступить к регистрации", "registration", class: "submit_button_oferta" %>
						</div>
					</div>
				</div>
				<p class="little_white_text">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
			</div>