!!! html
%html
  %head
    %title Izkh
    = stylesheet_link_tag "/stylesheets/utility_metrics.css", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = yield